[2017-09-13 16:39] thinkingserious commented on #342
Hello @atulmishra-cleartax,

This is an error related to your API Key. Our [support team](https://support.sendgrid.com) can best assist with this.

Thanks!

With Best Regards,

Elmer

[2017-09-13 16:39] #342 closed

[2017-09-14 03:54] thinkingserious commented on #323
@elbuo8, @dibyadas, @w-, @belfazt, @mehronkugler, @yamamanx, @bwhmather-joivy, @andriisoldatenko, @jeffoneill, @Jakobovski

If you are tagged on this message, it means we are particularly interested in your feedback :)

If you don't have the time, no worries and my apologies for the disturbance.

If you do have the time, please take a look at the proposed helper upgrade above and let us know what

[2017-09-14 12:24] jeffoneill commented on #323
Could you please elaborate on this?  Does this relate to versions of the Python sendgrid-python library or of the Sendgrid REST API?

I'm currently using sendgrid-python 3.6.3 and have been using that version since February.  I thought this library sent emails using Sendgrid v3 API that is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

It seems I am already using a third

[2017-09-14 14:46] elbuo8 commented on #323
I find having multiple properties to reference the same output can get confusing.

`mail.to`, `mail.tos`, `mail.cc`, `mail.ccs`.

I would make the interface accept either a string or a list and perform validations as needed.

[2017-09-14 16:31] Jakobovski commented on #323
Adding the ability to send a request  asynchronously would be nice

[2017-09-14 16:40] thinkingserious commented on #323
@jeffoneill,

This relates particularly to the `sendgrid-python` library. It's purpose is to make interacting with the SendGrid v3 API easier, starting with the `mail/send` endpoint. We left off on providing direct access to all the SendGrid v3 API endpoints with some initial help around creating the request payload for `mail/send`, but we expose far too much detail. This proposal is designed to f

[2017-09-14 16:41] mbernier commented on #323
Hey, @elbuo8.

Hi ;)

[2017-09-14 17:43] elbuo8 commented on #323
@Jakobovski ++

👋 @mbernier  @thinkingserious

[2017-09-14 17:57] andriisoldatenko commented on #323
@thinkingserious when do you plan to start working on changes? Should we start now or wait some review of document?  How do you plan to split work between contributors?

[2017-09-14 18:27] dibyadas commented on #323
Hi everyone!

@thinkingserious
I am really sorry for not updating the PR. I really got extremely busy with my intern work and my academics. My mid sems begins tomorrow so  I doubt whether I will have to time to complete my PR.
I would love to give collaborator access to my fork of this repo if someone's want to continue the work.

With Regards,
Dibya Prakash Das

[2017-09-14 18:37] thinkingserious commented on #323
@andriisoldatenko,

The goal was to get at least 3 thumbs up from the community before proceeding with code. It looks like we are there now. That said, we have a few things on our backlog ahead of this project, so if you want to kick things off in a new fork from [this branch](https://github.com/sendgrid/sendgrid-python/tree/mail-helper), that would be awesome. The scope of this work is to impleme

[2017-09-14 18:41] thinkingserious commented on #323
With regards to Python 2.6, I believe it's time to sunset support for that, since now it's no longer supported by the [Python Core Team](https://www.python.org/download/releases/2.6.9/). Any thoughts on that?

[2017-09-14 21:09] thinkingserious commented on #323
@andriisoldatenko,

If you decide to kick things off, please drop a note here. I will do the same so that either of don't end up duplicating efforts.

[2017-09-15 12:03] belfazt commented on #323
The only thing that I thought looked confusing is what @elbuo8 said.

Everything else looks good

[2017-09-15 13:18] thinkingserious commented on #323
@iandouglas,

If you have a moment, your sage advice would be appreciated :)

[2017-09-15 13:19] thinkingserious commented on #323
Thanks @belfazt,

I will fix that :)

[2017-09-15 16:32] iandouglas commented on #323
My only real complaint (aside from agreeing with @elbuo8 also) is this, which is found in several places in the proposal: `except Exception as e:`

While this is certainly better than just `except:` by at least naming *some* kind of exception to trap, this is still super generic and in my view, just as bad as a plain `except:` catch. I'd like to see better documentation and examples of the kinds o

[2017-09-15 16:38] thinkingserious commented on #323
@iandouglas,

Thanks for being awesome and responding so quickly!

Your wish is our command: https://github.com/sendgrid/python-http-client/pull/17

I need to update the docs to reflect those changes.

[2017-09-18 19:50] agentidea opened #343 "BadRequestsError when sending mail to v3 api when calling from Python Flask"
#### Issue Summary
I am trying to send mails using sendgrid.

I have a helper class that does this perfectly when run standalone from terminal

`class SendGridHelper():
    def __init__(self, apikey):
        self.api_key = apikey

    def sendGridMailFromBag(self, bag):
        return self.sendMail( bag['from'], bag['to'], bag['subject'], bag['body'])

    def sendMail(self, from_email,to_email,

[2017-09-18 20:00] thinkingserious commented on #343
Hello @agentidea,

Could you please try extracting the underlying error message [like so](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#error-messages)?  Thanks!

With Best Regards,

Elmer

P.S. I updated your comment to remove your password.

[2017-09-18 23:14] agentidea commented on #343
Hi Elmer,

Thank you so much for responding.  I was able to dig down into the debugger and find that in 2 cases the email addresses where invalid ( ie once without the @ sign, and the other was incorrectly
entered as <xyz> someone@me.com rather than xyz <someone@me.com>

I found the errors in

`except python_http_client.BadRequestsError as postex:
            logger.exception(postex)
            e

[2017-09-18 23:14] #343 closed

[2017-09-20 06:17] ke2ulpatani commented on #193
I am hoping to work on this issue, is it still open?

[2017-09-20 06:21] thinkingserious commented on #193
Hi @ke2ulpatani,

This issue has been addressed [here](https://github.com/sendgrid/python-http-client/issues/16). However, we are currently upgrading this SDK and would [love your feedback](https://github.com/sendgrid/sendgrid-python/issues/323).

With Best Regards,

Elmer

[2017-09-20 20:18] dopplesoldner opened #344 "How can I send an email to a private SMTP server?"
I am trying to send emails to a private SMTP server and can do so using python smtplib as follows

[code]
Trying to convert the same to Sendgrid (as Azure blocks SMTP) but it has no option to specify a private SMTP server.

[code]

[2017-09-23 01:09] thinkingserious commented on #344
Hello @dopplesoldner,

I'm not sure I follow. The first code example is using a SMTP relay configuration while the second example uses our Web API. I'm not sure about the result you are looking for.

Are you trying to use another SMTP provider besides sendgrid?

With Best Regards,

Elmer

[2017-09-25 05:01] ej-white opened #345 "Can't get stats by category"
#### Issue Summary

This issue applies to the method 'sg.client.stats.get(query_params=params)'.

[code]

No matter which category I specify, I seem to get ALL events within the date range, same as if I didn't specify any categories at all.

For example, I created a category called 'october-emails' for all emails sent in October. I then checked the stats for this category in the month of May with

[2017-09-25 18:30] thinkingserious commented on #345
Hello @ej-white,

We do not currently support retrieving stats by category on that endpoint.

To get that level of detail, you would need to setup an [Event Webhook](https://sendgrid.com/docs/API_Reference/Webhooks/event.html).

I have passed along your use case to our product team.

With Best Regards,

Elmer

[2017-09-25 18:30] #345 closed

[2017-09-25 20:43] ej-white commented on #345
OK, good to know. Thanks for you quick response!

[2017-09-26 01:14] mehronkugler commented on #323
I very much like the application of named arguments in the Mail helper and the other helpers. Overall, I can see I'll need fewer lines of code to implement things, so thank you.

Question: Is the structure of the dict that's being assembled behind the scenes by these helpers changing in any way? Or is it just the implementation of the helpers that's changing?

Having mail CCs outside of the To obj

[2017-09-26 23:17] thinkingserious commented on #323
Hi @mehronkugler,

Yes, the implementation of the helpers is changing currently.

The structure of the dict is not changing this time around. For now, it will continue to closely mirror the underlying API.

Thank you very much for your feedback!

With Best Regards,

Elmer

[2017-09-27 11:41] thebjorn opened #346 "Can BadRequestError be made more intelligent / user friendly?"
#### Issue Summary

I was attempting to search for a contact by email and kept getting a BadRequestError with no further explanation of what might be wrong. Would it be possible to provide more debugging information with this error?

#### Steps to Reproduce

My initial code (the dkpassword module fetches passwords from our encrypted password database, but is the api is similar to os.environ - incl

[2017-09-27 15:23] mehronkugler commented on #286
@iamgollum I encountered a similar error, and recently made a small code tweak to address this issue with unicode characters being used in Substitutions. Can you update your version of SendGrid and see if the issue still exists? I think it should not be a problem any more.

[2017-09-27 18:48] thinkingserious commented on #346
Hi @thebjorn,

Thanks for taking the time to reach out and provide feedback!

[Your request has been completed](https://github.com/sendgrid/python-http-client/pull/17), but has yet to be properly documented.

With Best Regards,

Elmer

[2017-09-27 18:48] #346 closed

[2017-09-30 16:19] thinkingserious commented on #323
This work is broken down in [this project](https://github.com/sendgrid/sendgrid-python/projects/1)

[2017-09-30 16:32] thinkingserious commented on #319
Hello @yvan,

I believe this should be solved in v5.X. Please let me know if you continue to experience this issue after upgrading.

Thanks!

With Best Regards,

Elmer

[2017-09-30 16:32] #319 closed

[2017-09-30 16:35] #292 closed

[2017-09-30 16:36] #286 closed

[2017-09-30 17:13] #217 closed

[2017-09-30 17:13] #193 closed

[2017-09-30 17:14] #189 closed

[2017-09-30 17:14] #186 closed

[2017-09-30 17:27] thinkingserious opened #347 "Python Mail Helper Refactor"
#### Issue Summary

An interface to easily interact with the `mail/send` endpoint of the [SendGrid v3 Web API](https://sendgrid.com/docs/API_Reference/api_v3.html).

The specification for this project is [here](https://github.com/sendgrid/sendgrid-python/blob/master/proposals/mail-helper-refactor.md) and the discussion around this specification can be found [here](https://github.com/sendgrid/sendg

[2017-09-30 17:29] #224 closed

[2017-09-30 17:29] #225 closed

[2017-09-30 17:29] #226 closed

[2017-09-30 17:29] #227 closed

[2017-09-30 17:30] thinkingserious commented on #224
This has been moved [here](https://github.com/sendgrid/sendgrid-python/issues/347).

[2017-09-30 17:30] thinkingserious commented on #227
This has been moved [here](https://github.com/sendgrid/sendgrid-python/issues/347).

[2017-09-30 17:31] thinkingserious commented on #225
This has been moved [here](https://github.com/sendgrid/sendgrid-python/issues/347).

[2017-09-30 17:31] thinkingserious commented on #226
This has been moved [here](https://github.com/sendgrid/sendgrid-python/issues/347).

[2017-10-01 07:31] yothinix commented on #347
@thinkingserious I'd like to help on this issue, I've been using this lib in my project for about a year now. Hope my familiarity with this lib would help.

[2017-10-01 07:59] Logan1x commented on #193
Is there any beginner friendly issue in python or documentation?

[2017-10-01 11:01] meahow commented on #251
I would like to have a look at this, if it's still open.

[2017-10-01 11:03] meahow commented on #311
I would like to look at this as well, but I am not clear with weather we should fine a solution on how to install and use prism without sudo on Ubuntus, ot just document it as a prerequisite.

[2017-10-01 18:01] mbernier commented on #239
I am a bit confused. I believe that this is expected behavior of a Blind Carbon Copy (BCC) - the other recipients, as well as the BCC recipients,  should not be able to see each other. The sender of the email actually generates completely separate emails for each BCC recipient, so that there is no crossover.
If you would like to have people copied on the emails and be able to see them, CC or multi

[2017-10-01 18:08] mbernier commented on #251
@meahow do it!!

[2017-10-01 18:32] mbernier commented on #277
@andriisoldatenko I know it's been a minute since you submitted this, but I am curious if my change accomplishes your request?

[2017-10-01 21:28] thinkingserious commented on #311
Hi @meahow,

This issue was to document this behavior. If you figure out how to get it installed and working on Ubuntu, I will bump the difficulty to medium on this issue.

Thanks!

With Best Regards,

Elmer

[2017-10-01 21:32] thinkingserious commented on #193
Hi @Logan1x,

Yes!

Please follow [this search](https://github.com/sendgrid/sendgrid-python/labels/difficulty%3A%20easy) as we'll be adding new issues all throughout Hacktoberfest and beyond.

With Best Regards,

Elmer

[2017-10-01 21:33] thinkingserious commented on #347
@yothinix,

Awesome! Please let me know how I can help.

With Best Regards,

Elmer

[2017-10-02 00:22] dirtycoder commented on #308
@thinkingserious it seen to be solved already.

The current output is this:
`ClickTracking()` -> `{'click_tracking': {}}`
`ClickTracking(False)` -> `{'click_tracking': {'enable': False}}`
`ClickTracking(True)` -> `{'click_tracking': {'enable': True}}`

Do you think it's worth to make a PR with a test to prevent a regression?

[2017-10-02 00:41] thinkingserious commented on #308
Yes, that would be great. Thanks!

[2017-10-02 00:42] dirtycoder commented on #308
@thinkingserious ok, I'll do it. :)

[2017-10-02 07:30] waseem18 commented on #310
Hi @thinkingserious

I would like to take up this issue as a part of Hacktoberfest

:)

[2017-10-02 09:33] xjlim commented on #310
Hi @thinkingserious, @waseem18

I was looking into this as well and it seems like the [API](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html#List-Recipients-on-a-List-GET) is out of date.

The required query param `list_id` is removed from the v3 api for the endpoint `GET /contactdb/lists/{list_id}/recipients`.
[code]

It seems like there are other tasks to be

[2017-10-02 15:59] meahow commented on #251
Thanks. Hope it helps

[2017-10-02 18:58] davidkaminsky commented on #187
ergdfgfdg

[2017-10-02 19:03] thinkingserious commented on #310
Hi @xjlim,

Thank you! There is also [one other place](https://sendgrid.com/docs/API_Reference/api_v3.html) to verify.

With Best Regards,

Elmer

[2017-10-03 04:37] waseem18 commented on #310
Thanks @thinkingserious @xjlim for the information. I'll make the changes

[2017-10-03 20:22] jussih commented on #296
This is something I wouldn't expect in a library, but rather something that should be implemented in the project that uses the library. The de facto solution with Python is to write an asynchronous task to do the heavy lifting using Celery.

[2017-10-04 01:39] thinkingserious commented on #296
Hi @jussih,

Would you mind creating documentation that demonstrates how this can be done? You would add your PR here and we would give you [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/) credit at "difficulty: medium" for that. If not, no worries. We appreciate your feedback in any case :)

With Best Regards,

Elmer

[2017-10-04 15:59] thinkingserious opened #354 "Auto Generate Plain Text Content from HTML"
We require both HTML and Plain Text content for improved deliverability. In some cases, only HTML may be available. We need a function that automatically converts a given HTML string to the Plain Text equivalent.

[2017-10-04 16:39] LiYChristopher commented on #296
Celery is a great tool for async or parallel processing. But if one is using Python 3.5+, the built-in `asyncio` library can be used to send email in a non-blocking manner. I created a gist to illustrate roughly how this might work.

[SendGrid v3 Mail Send - Async Example]("https://gist.github.com/LiYChristopher/dc81f45375d4c8be04eb28caa3184772")

`asyncio` helps us execute mail sending in a separ

[2017-10-04 18:21] NikolaJankovic commented on #354
Working on this now!

[2017-10-05 14:36] thinkingserious opened #355 "Create a tutorial to deploy a simple Hello Email app on AWS with Python using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and deploy to AWS.

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:41] thinkingserious opened #356 "Create a tutorial to deploy a simple Hello Email app on Heroku with Python using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:46] thinkingserious opened #357 "Create a tutorial to deploy a simple Hello Email app on Digital Ocean with Python using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Digital Ocean](https://www.digitalocean.com/community/tutorials/how-to-set-up-automatic-deployment-with-git-with-a-vps).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to US

[2017-10-05 14:52] thinkingserious opened #358 "Create a tutorial to deploy a simple Hello Email app on IBM Blue Mix with Python using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to IBM Blue Mix](https://www.ibm.com/blogs/bluemix/2016/01/deploy-to-bluemix-button-example/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:54] thinkingserious opened #359 "Create a tutorial to deploy a simple Hello Email app on Google App Engine with Python using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Google App Engine](https://cloud.google.com/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:55] thinkingserious opened #360 "Create a tutorial to deploy a simple Hello Email app on Microsoft Azure with Python using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Microsoft Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-local-git).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 15:31] yashasvisharma commented on #360
I'll start working on it

[2017-10-05 15:41] codevbus commented on #355
I can take this.

[2017-10-05 17:30] anshuman73 commented on #356
Hey ! I'd like to work on this !
Are there any similar examples that I can see ?
Is a basic flask app using this SDK fine ?

[2017-10-05 18:50] gabrielkrell commented on #311
`~/bin` seems to be the convention (although I've never used it myself); ideally we'd just look elsewhere in [that part of the tests](https://github.com/sendgrid/sendgrid-python/blob/master/test/test_sendgrid.py#L27).  An underlying issue seems to be that Prism's installer.sh has `/usr/local/bin/prism` [hardcoded](https://github.com/stoplightio/prism/blob/master/install.sh#L31).

@meahow Are you t

[2017-10-06 00:04] mbernier commented on #356
Go for it!  We do love flask :)  Maybe this is just a quick app that when you hit a page it says "Email Sent" and based on the credentials, an email is generated and sent to the user?

The idea is just to make something really simple, that allows someone to get this posted to heroku and it actually does something other than just output a single UI page, in this case, sending an email.

[2017-10-06 12:28] meahow commented on #311
@gabrielkrell,
I am actually working on it. I hope to have PR ready today or tomorrow.
I got it working actually, but the problem is that there is some duplicated code between test_sendgrid.py, travis.yml, tox.ini and prism.sh.

The idea is to use test/prism.sh as a installer for prism (if it is not in the PATH yet) and document it on the CONTRIBUTING page.

[2017-10-06 13:54] thinkingserious opened #362 "Create a tutorial to create a Slack event integration with Python using this SDK"
Create a tutorial that explains how to create a simple [integration with Slack](https://api.slack.com/events-api) that allows an email to be triggered based on some [defined event](https://api.slack.com/events).

The example should utilize best practices for storing credentials.

Please add the tutorial to USE_CASES.md.

[2017-10-06 16:37] navinpai commented on #362
Hey I'd like to take this up!

[2017-10-06 17:33] gabrielkrell commented on #311
@meahow Sounds good!

[2017-10-06 18:02] anshuman73 commented on #356
Sounds perfect !

[2017-10-07 11:05] zkan commented on #356
@thinkingserious @mbernier May I try Django for this?

[2017-10-07 13:06] meahow commented on #311
I have created PR #364 .
Let me know what you think.

[2017-10-07 20:06] NikolaJankovic commented on #354
@thinkingserious are you comfortable with me using beautifulsoup to normalize the text?

[2017-10-08 16:43] codevbus commented on #355
See #366

[2017-10-08 17:39] jeffoneill commented on #341
I've uncovered some more detail on this and sharing here in case it helps others.

The emails that are being altered in transit are sent to btinternet.com email addresses.  If the recipient views the email at the btinternet website (which is based on Yahoo! webmail), the email content is correct.

If the recipient downloads the email automatically using POP/IMAP the email content gets altered betw

[2017-10-09 02:31] saxenanurag commented on #359
Hi! I am interested in submitting in example. But, how will it be different from the GAE documentation: https://cloud.google.com/appengine/docs/standard/python/mail/sendgrid
?

[2017-10-09 02:58] yothinix commented on #357
@thinkingserious I want to help on this issue

[2017-10-10 15:27] mbernier opened #368 "TravisCI is failing on a dependency"
#### Issue Summary

It looks like there may be a dependency issue that needs to be resolved. In the logs, there is a deprecation warning.

#### Steps to Reproduce

1. Make a PR
2. Wait
3. Travis fails, click Details
4. Click the red box and get the error `python setup.py install failed and exited with 1`

[2017-10-10 18:31] cmccandless commented on #368
It seems the issue only exists when building for Python2.6. As that version of Python is no longer supported by the Python team, is simply dropping Python2.6 support an option?

Alternatively, I seem to have found a hack that builds just fine, but only if you can force Python2.6 to use pip 1.5.4 (Python2.7).

[2017-10-10 18:58] thinkingserious opened #371 "Subscription Widget Helper"
Create a helper that will show how to add a working subscription widget to their site from code in the library.

		Features:

		- An function that returns an embeddable HTML form that takes email address and name.

		- The form should submit to a customizable URL path

		- The code at the URL path should accept the data and post it to the contactdb using the (POST Add Recipients endpoint)[https://

[2017-10-10 20:21] thinkingserious opened #372 "Add a Code Of Conduct"
Add a file to the root of this repo called CODE_OF_CONDUCT.md, with the content from the [same file in our docs repo](https://github.com/sendgrid/docs/pull/3048).

[2017-10-10 20:29] Rubemlrm commented on #372
i can try do that =)

[2017-10-10 20:42] mbernier commented on #372
Awesome @Rubemlrm!!

[2017-10-10 22:19] thinkingserious opened #375 "Make SendGrid permissions management easy"
Create a class for managing permission scopes that has the following features:

- Allow you to add create, delete, read, update permissions for each of the groups defined [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html)  -- these can be hard coded in
- Allow for creating an array of all the scopes possible, as a "create admin permissions" method
- A

[2017-10-11 02:21] mbernier commented on #368
@thinkingserious Thoughts on dropping Python2.6?

[2017-10-11 05:40] davidzchen-ut commented on #375
Can I start working on this?

[2017-10-11 06:19] thinkingserious commented on #375
@davidzchen-ut,

Yes please :)

[2017-10-11 09:40] PadamSethia commented on #371
May I start working on this one?

[2017-10-11 16:31] denvera commented on #368
Created PR #376 as a workaround to get the build to succeed for Python 2.6

[2017-10-11 16:53] cmccandless commented on #368
I think @denvera 's solution is better than dropping support entirely. I will close my existing PR.

[2017-10-11 16:55] #368 closed

[2017-10-11 19:23] thinkingserious commented on #371
Yes @PadamSethia, thank you!

[2017-10-11 22:12] #372 closed

[2017-10-12 13:13] DannyLee12 opened #379 "Can't install sendgrid via setup.py script in Docker image ubuntu 16.04"
#### Issue Summary

When installing sendgrid on python 3.6.1 Ubuntu 16.04 in a docker image it throws this error.
[code]
I have taken out all other packages. All other packages install without an issue.

#### Steps to Reproduce

1. Create a file `setup.py` that looks like this:
[code]
2. Run this dockerfile
[code]

I assume that this is to do with your `setup.py` I can take a look as well.

#### T

[2017-10-12 20:29] thinkingserious commented on #379
Hi @DannyLee12,

Thanks for taking the time to report this!

I have added this to our backlog for review. Perhaps in the meantime, a fix will come via [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/) :)

With Best Regards,

Elmer

[2017-10-12 20:43] thinkingserious opened #380 "Save inbound email attachments to S3"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to an S3 bucket when they are received

[2017-10-12 21:28] thinkingserious opened #381 "Save inbound email attachments to Box"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-12 23:07] davidzchen-ut commented on #375
created pull request. would be great to have a second pair of eyes to make sure this is what we need!

files changed are in the helpers/permissions folder. there are several unit tests I've created in the unit_tests.py file.

[2017-10-12 23:12] JoshHarmon commented on #381
Does there need to be any association between the message containing the attachment and the uploaded file on Box? Are there any example use cases you have in mind for this? I'm interested in giving this a shot but just want to clarify what exactly is needed first before I dive into things.

[2017-10-12 23:15] thinkingserious commented on #381
Hi @JoshHarmon,

[Here](https://sendgrid.com/blog/using-box-with-sendgrid-to-simplify-inboundoutbound-email-attachments/) is a blog post that describes a use case.

I like the idea of associating the message containing the attachment.

With Best Regards,

Elmer

[2017-10-12 23:17] #310 closed

[2017-10-13 02:00] thinkingserious opened #382 "Save inbound email attachments to Dropbox"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-13 02:21] mbernier commented on #379
I am not 100% sure, but it looks like maybe the local encoding setting could be set to something other than UTF-8?  Based on this:
https://stackoverflow.com/questions/23917729/switching-to-python-3-causing-unicodedecodeerror

[2017-10-13 04:47] PadamSethia commented on #371
By helper , you mean a template right?

[2017-10-13 07:57] DannyLee12 commented on #379
@mbernier python3 supports utf-8 as the default. I'm not setting it anywhere else.

Perhaps this is an issue with docker more than an issue with sendgrid. But all of the other packages that I have tested do install correctly.

in my debugging, the issue appears to be in the `exec(code, globals, locals)` line.

However, testing the exec command in version works as expected in my docker file. So I d

[2017-10-13 19:43] thinkingserious opened #383 "Add How to Setup a Domain Whitelabel and How to View Email Statistics to USE_CASES.md"
Please see [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#how-to-setup-a-domain-whitelabel) for an example.

[2017-10-13 20:44] adityatandon007 commented on #383
@thinkingserious taking this

[2017-10-13 23:50] thinkingserious commented on #383
Thank you!

[2017-10-15 21:14] prashilbhimani commented on #354
@thinkingserious Is the HTML mail content only or can be everything?

[2017-10-16 05:16] sreeram123 commented on #291
hi

[2017-10-16 13:53] thinkingserious opened #385 "Attach files to email from S3"
This should be added to the Mail helper method, where the file that is attached can be sitting on an S3 bucket.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 13:54] thinkingserious opened #386 "Attach files to email from Box.com"
This should be added to the Mail helper method, where the file that is attached can be sitting in Box.com storage.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 13:55] thinkingserious opened #387 "Attach files to email from Dropbox"
This should be added to the Mail helper method, where the file that is attached can be sitting in Dropbox.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 14:03] thinkingserious opened #388 "Prevent secrets from sending in email"
Add a method that will check the content of the email before sending, to make sure that specific strings or patterns are not included.
For example, SG API keys look like this: SG.[a-zA-Z0-9_].[a-zA-Z0-9\-]
So the function could take a list of regex or specific strings to compare against. If a string is found, the mail/send should throw an exception

[2017-10-16 14:08] thinkingserious opened #389 "Create and schedule a marketing campaign"
With the [SendGrid Marketing Campaigns feature](https://sendgrid.com/docs/API_Reference/api_v3.html#campaigns) you can create a campaign, edit it, then schedule it for the future or for 'now'
Create a helper that uses the API to build the campaign
Then add the ability to build + schedule, build + send now, or only build the campaign
Please also add the ability to notify a specific email address or

[2017-10-16 14:31] soumya-ranjan7 commented on #388
Can I work on this?

[2017-10-16 14:42] thinkingserious opened #390 "Scheduling 1000-1,000,000 emails in batches"
When someone wants to send thousands or millions of the same email, they will create a call to our mail/send endpoint and break the list of emails and thr substitutions into batches of 1000 emails per request to the SendGrid API. This is great, except that there are a couple caveats:
1. [Mail Send Limitations](https://sendgrid.com/docs/API_Reference/api_v3.html) - see the field level limits here
2

[2017-10-16 14:47] thinkingserious opened #391 "Get all the stats for a date range"
We have various types of stats global stats, category stats, and subuser stats.
For some users, being able to pull these stats and send them somewhere is ideal.
Please create a nice helper for pulling stats from each of these locations so that the data can be sent to a database.

[2017-10-16 14:51] thinkingserious opened #392 "Get unassigned IPs"
SendGrid returns a list of all IP addresses on your account. It also returns a list of assigned IP addresses.
What it doesn't do is return a list of unassigned IPs.
Please create a method that will get the IPs available and return any that do not have a subuser assigned to them.
See [GET /ips](https://sendgrid.com/docs/API_Reference/api_v3.html#ip-addresses) for more information

[2017-10-16 15:00] thinkingserious opened #393 "Create whitelabel DNS entries via the API"
the SendGrid API allows you to do almost everything that the UI can do, including building your whitelabels (authenticated domains) into your accoount. This requires a domain you can create subdomains on and some creativity to decide what to call the subdomains.
We have 3 kinds of whitelabeling: domain, link, and ip.
Link whitelabeling allows all  the links in your emails to be rewritten to look l

[2017-10-16 15:49] tr11 commented on #296
I've been doing something like this for a while, but resorted to updating the http-client library instead of making any changes to this library.  You can take a look at https://github.com/tr11/python-http-client, which uses aiohttp instead of the requests library to do the heavy lifting.

[2017-10-16 17:21] d-grossman commented on #392
I'll take a look at this.

[2017-10-16 17:26] thinkingserious commented on #392
Thanks @d-grossman!

[2017-10-16 17:54] thinkingserious commented on #296
@LiYChristopher,

Do you mind adding that example to this repo's USE_CASES.md?

That's awesome @tr11!

Do you mind making a PR for [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/) on that library to demonstrate your example? You would create a USE_CASES.md based on the format of the one found in this repo.

With Best Regards,

Elmer

[2017-10-16 18:17] thinkingserious commented on #388
Thanks @soumya-ranjan7!

[2017-10-16 18:48] LiYChristopher commented on #296
@thinkingserious

I have a PR open - #363 that adds this example to the USE_CASES.md file. If there are any other changes I need to make beyond contained in the change log, please let me know. Thanks!

[2017-10-16 19:19] mattgd commented on #387
What would be passed to the Mail helper method? The absolute URL to the file for use with the Dropbox Core API, or user information and a relative file path?

[2017-10-16 19:21] thinkingserious commented on #387
I think allowing for both a URL and local file would be good.

[2017-10-16 20:30] mattgd commented on #387
Sounds good! I'm planning to use the HTTP API so to keep everything relatively uniform for attachment integration with other APIs, such as Box (#386) and S3 (#385). Dropbox also provides a Python SDK, which is another option to discuss, but would require an additional soft-dependency.

Let me know if you have any additional requirements or preferences when implementing this functionality.

[2017-10-16 20:43] ke2ulpatani commented on #393
Hi,
I'd like to take this up, is it still open?
If yes, could you please specify what **basic data** is required to return the DNS entry information?

[2017-10-16 21:25] mattgd commented on #387
After further research into the project (sorry, first time contributor here), it seems I may be a bit confused about what exactly this issue is asking. Are asking for an additional [example of Mail helper usage](https://github.com/sendgrid/sendgrid-python/blob/master/examples/helpers/mail/mail_example.py), which retrieves a file that is sitting in Dropbox, or some sort of additional type of Attach

[2017-10-16 21:51] d-grossman commented on #392
@thinkingserious where do you want this function to live?

[2017-10-17 15:59] thinkingserious opened #394 "Attachment helper for base64 encoding"
We have an example in USE_CASES.md on how to handle attachments.

We need to update the `Attachment` object such that it can also take in a raw file, rather than a base64 encoded file, and perform the base64 encoding behind the scenes.

Note that the total size of your email, including attachments, must be less than 30MB. The total size is calculated from the entire JSON payload. Note that you wil

[2017-10-17 19:41] ke2ulpatani commented on #385
Hi,
I'd like to take this, is it open?
If yes, AWS does provide an SDK can we proceed with that or it will just increase the number of dependencies?

[2017-10-17 21:17] PadamSethia commented on #371
Hey !
I started the work on this , but I can't seem to find subscription API in the docs .
A link to the API will be very much helpful , all I can find is subusers which doesn't seem relevant at all.

[2017-10-18 09:53] anshuman73 commented on #356
Hi, @mbernier I currently did not proceed with this as @zkan submitted in a PR the very next day, and it made no sense to redo the same thing. Should I still proceed or the submitted PR is up to the mark -enabling us to close this issue ?

[2017-10-18 15:23] artiemq commented on #380
Hi, may I start working on this one?

[2017-10-18 19:00] thinkingserious opened #398 "SendGrid Event Webhook consumer"
The SendGrid event webhook will send email events to a URL of your choosing. Add functionality that will consume event webhook events posted
to your server by SendGrid. Documentation: https://sendgrid.com/docs/API_Reference/Webhooks/event.html

[2017-10-18 23:01] zkan commented on #356
@anshuman73 I think you can still write a basic Flask for this. Let's combine the tutorial? :)

[2017-10-20 08:25] kira0204 commented on #347
What is the status of this?

[2017-10-20 15:44] mbernier commented on #387
@mattgd I think we would accept either, but if it's possible to tell the mail helper "Hey, this is a dropbox file", that would be amazing.

[2017-10-20 15:49] mbernier commented on #385
Please take it @ke2ulpatani!

It will increase the dependencies, but maybe it can be one that's optional? (Such as, if you try to use this method you add - it fails because dependency isn't there - but the dependency isn't necessarily required to use all the functionality?  -- i.e. can you do a local import at the method call?

[2017-10-20 16:11] jakedeemed opened #401 "Using Personalization() to add_to and add_bcc - 400: Bad Request"
#### Issue Summary

I am unable to send an email to multiple recipients using the Personalization() feature with my current version of SendGrid. If I exclude/comment out **mail.add_personalization(personalization)** it sends just fine, so it looks to be an issue with Personalization or at least my usage of it.

Any help would be much appreciated!

[code]
#### Error:
[code]

#### Technical details:

[2017-10-20 17:32] ke2ulpatani commented on #385
I guess both of them will do, but I am thinking to make a local import would be a better thing because asking explicitly might be missed by the user whereas when a local import fails, it will intimate the user promptly. Do you second that thought?

[2017-10-20 20:13] mbernier commented on #401
I am wondering if this is due to the automatic creation of personalizations within the Mail object - as per our [example here](https://github.com/sendgrid/sendgrid-python#with-mail-helper-class)

From [this example](https://github.com/sendgrid/sendgrid-python/blob/master/USE_CASES.md#with-mail-helper-class) it looks like you can instantiate Mail(), then access the personalizations as an array of t

[2017-10-20 22:03] thinkingserious opened #402 "Update README for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #403 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- Add [License like so](https://github.com/sendgrid/sendgrid-php/pull/476)
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the l

[2017-10-21 01:16] dirtycoder commented on #403
I'll take this for a spin (:

[2017-10-21 05:48] aaronmak commented on #391
I'll give this a go!

[2017-10-21 07:07] aaronmak commented on #391
@thinkingserious any idea where would be a good place to start writing the helper?

[2017-10-21 19:55] #402 closed

[2017-10-21 19:56] #403 closed

[2017-10-21 20:51] akram-rameez commented on #379
I'd like to give this a try, if possible 😃

[2017-10-21 21:08] akram-rameez commented on #379
@DannyLee12 I tried installing the setup.py you provided with the official python3 image, and it worked perfectly. Can I know exactly why you're trying to use the ubuntu 16.04 image?

I did face some problems installing the Dockerfile you provided, but my issues arose while installing python3, and much before installing sendgrid.

I'll keep you updated on my findings.

[2017-10-22 04:45] thinkingserious commented on #362
Thank you @navinpai!

[2017-10-22 05:16] #311 closed

[2017-10-22 05:27] #251 closed

[2017-10-22 05:39] tonytran commented on #360
Would this be as simple as creating a small flask app that is a single page app and through some interaction (like a clicking a send email button) it will send an email. Maybe even having the user fill out a form for them to specify the email they'd want to to send to?

[2017-10-22 06:59] pranitbauva1997 opened #409 "Add support for Proxies"
I have to use sendgrid to send newsletter mails. Being under a institute proxy, I have to SSH into a AWS server and then pull my script+data there and then send my mails from there.

Now I understand this feature isn't that a big improvement, but this would really help me. I want to make this fix in this package.

What are your opinions?

[2017-10-22 07:01] prabhakar267 commented on #291
I would like to work on this
What I understood from reading both of the issue threads (this and [PHP](https://github.com/sendgrid/sendgrid-php/issues/368)), the client side fix that worked for PHP was cleaning the strings from any double quotes and passing the string in single quotes
I am not sure if that is going to work in Python as well or not. But does this issue wants only a cleaning function

[2017-10-22 14:30] thinkingserious commented on #341
Thank you for taking the time to follow up with this. Hopefully, enough people will query btinternet to affect a change.

[2017-10-22 14:30] #341 closed

[2017-10-22 14:53] thinkingserious commented on #359
HI @saxenanurag,

It could be that it is very similar or that we simply reference that tutorial from this repo.

Thanks!

With Best Regards,

Elmer

[2017-10-22 15:05] thinkingserious commented on #357
Thank you @yothinix!

[2017-10-22 15:09] dsouzarc commented on #382
Can you talk more about this process? If an email comes in that contains a Dropbox link to the file, you would want to automatically copy the file at that link to the user's Dropbox account?

We would have to get the user's Dropbox API Access key/permissions.

What if the Dropbox links to a folder? Would you want to copy over the entire folder and all its files?

And is it okay to install Dropbox'

[2017-10-22 16:12] mbernier commented on #379
@akram-rameez Thank you!!

@DannyLee12, hitting you up for feedback just in case you didn't see Akram's note.

[2017-10-22 16:56] #308 closed

[2017-10-22 19:12] ke2ulpatani commented on #385
I have started making changes according to the local import thing. Let me open a PR, then we can talk further if it looks good.

[2017-10-22 21:57] gabrielkrell commented on #170
Working on this one now.

[2017-10-22 22:40] mbernier opened #410 "Get code Coverage to 90%+"
#### Issue Summary

Currently, our code coverage badge says that we are in the 80s. Please help us prevent future issues by adding tests where we're missing them!

[2017-10-23 12:49] saxenanurag commented on #359
So, should I work on this?

[2017-10-23 13:21] swapagarwal commented on #356
@anshuman73 Are you still working on this? If not, I'd love to give this a shot! This will be my first interaction with SendGrid. (I have heard about SendGrid before, but never got around to using it.) 😄

[2017-10-23 14:28] #410 closed

[2017-10-23 14:29] mbernier opened #416 "Add unittests to parse.py"
#### Issue Summary

CodeCov is showing that we're missing some testing on parse.py.
[Please see their page and add some tests](https://codecov.io/gh/sendgrid/sendgrid-python/compare/db608f74fbbb4b1d4d71c644da9614de6ed900e3...86abbc199800fefe9114cab7535d28a8114cca78/src/sendgrid/helpers/inbound/parse.py)

[2017-10-23 14:29] mbernier opened #417 "Add tests for Send.py"
#### Issue Summary

CodeCov is showing that we're missing some testing on send.py.
[Please see their page and add some tests](https://codecov.io/gh/sendgrid/sendgrid-python/compare/db608f74fbbb4b1d4d71c644da9614de6ed900e3...86abbc199800fefe9114cab7535d28a8114cca78/src/sendgrid/helpers/inbound/send.py)

[2017-10-23 14:30] mbernier opened #418 "Tests for app.py"
#### Issue Summary

CodeCov is showing that we're missing some testing on app.py.
[Please see their page and add some tests](https://codecov.io/gh/sendgrid/sendgrid-python/compare/db608f74fbbb4b1d4d71c644da9614de6ed900e3...86abbc199800fefe9114cab7535d28a8114cca78/src/sendgrid/helpers/inbound/app.py)

[2017-10-23 14:31] mbernier opened #419 "Add Tests for sendgrid.py"
#### Issue Summary

CodeCov is showing that we're missing some testing on sendgrid.py.
[Please see their page and add some tests](https://codecov.io/gh/sendgrid/sendgrid-python/compare/db608f74fbbb4b1d4d71c644da9614de6ed900e3...86abbc199800fefe9114cab7535d28a8114cca78/src/sendgrid/sendgrid.py)

[2017-10-23 14:31] mbernier opened #420 "Add tests for config.py"
#### Issue Summary

CodeCov is showing that we're missing some testing on config.py.
[Please see their page and add some tests](https://codecov.io/gh/sendgrid/sendgrid-python/compare/db608f74fbbb4b1d4d71c644da9614de6ed900e3...86abbc199800fefe9114cab7535d28a8114cca78/src/sendgrid/helpers/inbound/config.py)

[2017-10-23 14:40] exp0nge commented on #398
What is being asked here? To make a test endpoint to test the webhook?

[2017-10-23 14:56] mbernier commented on #398
That would be awesome! The original ask here though, is to write code that can be added to a URL to consume webhook events, return a 200 response, and pass the event on.

One way to do this would be to create a class that receives an arbitrary event, then it dynamically calls a function named after the event type (e.g. `processed`). The user can then extend the class and the event-name methods, to

[2017-10-23 17:54] nalinbhardwaj commented on #417
I'll like to try this.

[2017-10-23 18:05] lafentres commented on #419
I'd like to try this.

[2017-10-23 18:44] jakedeemed commented on #401
@mbernier

Those were the examples I was initially using to help me troubleshoot and to no avail, it is still not working instantiating Mail and using .personalizations[0] instead of Personalizations.

I appreciate the feedback - Not sure where to go with it from here though or what to try next if you have suggestions.

[2017-10-23 18:58] lafentres commented on #419
I'd like to try this one.

[2017-10-23 20:37] thinkingserious commented on #354
Hi @NikolaJankovic,

Thank you!

If we use a third party dependency, I think we should not include the code as part of this SDK. Rather, we can include the example in USE_CASES.md and provide the example code in the examples/ directory.

With Best Regards,

Elmer

@prashilbhimani,

It looks like @NikolaJankovic has already claimed this issue. That said, please check out the Issues tab as there are

[2017-10-23 23:29] #277 closed

[2017-10-23 23:51] thinkingserious opened #426 "Repair Docker Build"
Please see: https://hub.docker.com/r/sendgrid/sendgrid-python/builds/bzvwzufztt652fqrebrxfgq

[2017-10-23 23:58] thinkingserious commented on #393
Hi @ke2ulpatani,

Yes, this issue is still open, thanks!

[Here](https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/domains.html) is the whitelabel documentation.

Hope that helps!

With Best Regards,

Elmer

[2017-10-24 00:03] thinkingserious commented on #392
Hi @d-grossman,

I suggest that it lives [here](https://github.com/sendgrid/sendgrid-python/tree/master/sendgrid/helpers). Maybe ip_management/ might be a good helper name.

With Best Regards,

Elmer

[2017-10-24 00:17] jmweir commented on #426
Taking a look

[2017-10-24 00:27] mbernier opened #428 "IP Warmup functionality integrated into mail helper"
This issue has the potential to save other developers quite a bit of time and frustration when buying IP addresses because it will help them warm up the IPs appropriately. Warming up is a process of slowly ramping up sending on an IP address to allow Email Recipient servers (e.g. gmail, hotmail, etc) to see that this IP is legit.

## Goal
- Add the ability to automate warm up IPs that allows a cus

[2017-10-24 00:31] Sidsharik commented on #383
Would love to contribute to this

[2017-10-24 00:33] obernardovieira commented on #418
I'd like to give it a try, since I've done tests before.

[2017-10-24 00:34] obernardovieira commented on #417
I'd like to give it a try, since I've done tests before.

[2017-10-24 01:52] yothinix commented on #347
@kira0204 Sorry I didn't have much time to finish this now, you can go agead.

[2017-10-24 03:19] exp0nge commented on #398
@mbernier are we assuming the user already has a server setup to receive the webhooks and they only need to give a function to `process` to the SDK?

[2017-10-24 11:55] anshuman73 commented on #356
Hey, sure. Feel free to take this up. Unfortunately, I haven't been able to take the necessary time for this :(

[2017-10-24 16:10] wspi commented on #426
I built it on a local machine, and it passed without a change, is it still failing?

[2017-10-24 19:42] thinkingserious opened #434 "Create email module class to enable easier drag-drop template creation over API"
The drag-drop editor allows API upload of HTML, but it must conform to a specific standard in order for the editor to render the emails properly.
Create an email module class that allows a user to call a static function that will output the HTML for the module.
The specific module HTML is here: https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html#-Drag--Drop-Code-Examples
Ea

[2017-10-25 02:16] codervikash commented on #416
@mbernier would like to start contributing with this one!

[2017-10-25 04:22] gabrielkrell commented on #426
@wspi I think this one is an intermittent bug.  See [this silly thread](https://github.com/moby/moby/issues/9547).

[2017-10-25 09:54] yusun0715 opened #439 "Getting UnsupportedMediaTypeError when running a simple example"
Hi Guys,

I tried to follow a simple example in this repository but kept getting UnsupportedMediaTypeError:

setting up my own sendgrid object:
[code]

[code]
At this point, I am getting UnsupportedMediaTypeError. And I tried to send the same data in a rest client using my key, and it worked.

Python: 2.7.10
Sendgrid_python: 5.3.0
Python-http-client: 3.0.0

Could you please take a look at this? Th

[2017-10-25 10:53] zgoda commented on #439
It should be `request_body`, not just `request` - that's the right name of this arg (last line of your code).

[2017-10-25 11:00] yusun0715 commented on #439
@zgoda  thank you so much for spotting this! Now it works perfectly fine. I drove me nuts this morning

[2017-10-25 11:01] #439 closed

[2017-10-25 16:07] hanhaa opened #440 "set transactional template for email send"
#### Issue Summary

Using Python 2.7. Taken your example code which works OK. I now want to tell the email to use a transnational template. I am using Mail.template_id="6a7d6c49-4b23-4ad7-b3af-aaee938d9ca8" but I just get a standard text email.

#### Steps to Reproduce

1. Use standard code example
2. Create a transnational template with an image on it.
3. send test email

Any other information yo

[2017-10-25 21:50] kylearoberts commented on #440
Hey @hanhaa

Sorry to hear you are having issues. Since you did not provide the code you are using I am going to guess as to what is happening. Since you are only getting a text/plain email I am guessing you are passing a text/plain section in your API call. Something like this:

[code]

When using templates you want to do one of two options. The first is to not pass any content at all or, the sec

[2017-10-26 05:53] hanhaa commented on #440
Hi,

Thanks for the reply. I have the following test code:

# using SendGrid's Python Library
# https://github.com/sendgrid/sendgrid-python
import sendgrid
import os
from sendgrid.helpers.mail import *

sg =
sendgrid.SendGridAPIClient(apikey='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')

from_email = Email("support@hanhaamobile.com")
to_email = Email("ian@ianmaciver.com"

[2017-10-26 17:23] #239 closed

[2017-10-26 17:49] thinkingserious opened #442 "Document the new error handling functionality from python-http-client"
#### Issue Summary

Here is a PR that implements the new error handling: https://github.com/sendgrid/python-http-client/pull/17

Here is an example of usage:

[code]

The examples should go under USE_CASES.md and be referenced from TROUBLESHOOTING.md under error handling.

[2017-10-26 18:29] kylearoberts commented on #440
Here is an example that should work for you:

[code]

[2017-10-26 20:06] mbernier opened #444 "Add docker-compose support to the Docker build"
#### Issue Summary

Allow for caching of pip resources and access to a local volume - so that modifications can be made locally.

[2017-10-26 20:13] thinkingserious opened #445 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-26 21:04] hdiomede commented on #390
Hello @thinkingserious this task is to incorporate this feature available in the api in the SDK?

[2017-10-27 00:01] thinkingserious opened #447 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:38] thinkingserious opened #448 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 00:38] mbernier commented on #448
dupe

[2017-10-27 00:38] #448 closed

[2017-10-27 00:43] trangttt commented on #447
Can I work on this?

[2017-10-27 04:27] #447 closed

[2017-10-27 07:24] Nisinghal commented on #445
Hi. I would like to work on this. Could you assign this to me?

[2017-10-27 10:35] hugomallinson opened #451 "text/plain must precede text/html content"
#### Issue Summary

Requests to send mail with both plain text and HTML content fail if the HTML content is specified first.

#### Code

[code]

#### Steps to Reproduce

1. The above code works properly, but if you reverse the order of the add_content lines, http-client throws a BadRequestsError

#### Expected Result

The library should sort content into the order that the API expects. (I'm not cl

[2017-10-27 12:30] dsouzarc commented on #388
@thinkingserious I started working on it and left some comments [here](https://github.com/sendgrid/sendgrid-python/pull/452).

I'm looking for some feedback on my approach to fix [Issue 388](https://github.com/sendgrid/sendgrid-python/issues/388)

I'm not sure where to actually call the `validate_for_api_key()` but I'm thinking of doing it in the `Content` class whenever a `value` is added (see [h

[2017-10-27 15:04] bhavin192 commented on #444
I would like to work on this.

can you elaborate this part?

[2017-10-27 15:42] dsouzarc commented on #451
@hugomallinson Interesting find - I hope I fixed that issue in [this Pull Request](https://github.com/sendgrid/sendgrid-python/pull/454)

[2017-10-27 21:41] medmunds commented on #291
It's, uh... surprising that SendGrid would want to implement separate workarounds in every client library rather than fix the underlying API bug. (The current API behavior suggests that SendGrid's servers may be assembling messages by concatenating raw API input strings, without properly escaping them for use in email headers -- and there are all sorts of things can go wrong with that approach. Pl

[2017-10-27 22:23] thinkingserious opened #457 "Fix "method_complexity" issue in sendgrid/helpers/mail/mail.py"
Function `get` has a Cognitive Complexity of 23 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/mail.py#issue_59f2b5d6a7918a0001000059

[2017-10-27 22:24] thinkingserious opened #458 "Fix "similar-code" issue in sendgrid/helpers/mail/mail.py"
Similar blocks of code found in 4 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/mail.py#issue_59f2b5d8a7918a000100006a

[2017-10-27 22:24] thinkingserious opened #459 "Fix "file_lines" issue in sendgrid/helpers/mail/mail.py"
File `mail.py` has 979 lines of code (exceeds 250 allowed). Consider refactoring.

Move the classes to different files so that the files are easier to read and manage.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/mail.py#issue_59f2b5d6a7918a0001000058

[2017-10-27 22:26] thinkingserious opened #460 "Fix "method_lines" issue in examples/helpers/mail/mail_example.py"
Function `build_kitchen_sink` has 79 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/examples/helpers/mail/mail_example.py#issue_59f2b5d5a7918a0001000054

[2017-10-27 22:26] thinkingserious opened #461 "Fix "method_count" issue in sendgrid/helpers/mail/mail.py"
`Personalization` has 24 functions (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/mail.py#issue_59f2b5d6a7918a000100005e

[2017-10-27 22:27] thinkingserious opened #462 "Fix "method_complexity" issue in sendgrid/helpers/mail/mail.py"
Function `get` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/mail.py#issue_59f2b5d6a7918a000100005c

[2017-10-27 22:45] mptap commented on #442
@mbernier: I'm taking this.

[2017-10-27 22:50] mbernier opened #464 "Pep8 Compliance"
#### Issue Summary
According to this report, there are a lot of Pep8 issues. Can you fix them?

https://codeclimate.com/github/sendgrid/sendgrid-python/pull/463

#### Acceptance criteria:
Code climate should pass when you make your PR.

[2017-10-27 22:52] mbernier opened #465 "Add unittesting support to .codeclimate.yml"
#### Issue Summary

The codeclimate.yml file has the ability to tell CodeClimate what we're using for unittests. Please add this to the .yml file.

[2017-10-27 22:58] blackpioter commented on #464
I'll take it @mbernier

[2017-10-27 23:04] mptap commented on #465
@mbernier: I'm taking this.

[2017-10-27 23:26] blackpioter commented on #464
BTW. Please consider ignoring PEP8 E501 (line too long). There are parts of code with i.e links that will be hard to shorten.

[2017-10-28 00:21] malachiw commented on #462
I will attempt this!

[2017-10-28 03:08] mbernier commented on #439
Thank you @zgoda!!

[2017-10-28 03:12] mbernier commented on #440
@hanhaa to add to this, I think that your empty string is causing content to default to text/plain.
In @kylearoberts' example, he is only passing the template ID with no content object.
You have another option, where you can pass BOTH text/plain and text/html to the Mail object along with the template ID.

We hope this helps!
Thank you @kylearoberts for the help and code sample!

[2017-10-28 03:29] mbernier commented on #426
Thanks @gabrielkrell!!

[2017-10-28 03:30] #426 closed

[2017-10-28 03:37] mbernier commented on #409
Go for it!!

[2017-10-28 03:54] suprithIUB commented on #460
I'll take this. I'll send a pr in few hours.

[2017-10-28 04:13] mbernier commented on #401
@thinkingserious is going to be able to help you, if my answer didn't work.

In the meantime, can you please [print out the request body](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#viewing-the-request-body) and share it here?

[2017-10-28 04:34] thinkingserious opened #467 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 04:35] mbernier commented on #467
Duplicate

[2017-10-28 04:35] #467 closed

[2017-10-28 13:13] runz0rd commented on #459
Taken :)

[2017-10-28 14:31] #460 closed

[2017-10-28 15:00] #419 closed

[2017-10-28 15:03] #445 closed

[2017-10-28 15:24] thinkingserious opened #473 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:30] thinkingserious opened #474 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:38] thinkingserious opened #475 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 16:48] prashuchaudhary commented on #461
@thinkingserious I want to take a chance at this. But how to proceed. All the methods defined in Personalization class are valid functions ??

[2017-10-28 18:13] soopanova commented on #473
Pull Request submitted:
https://github.com/sendgrid/sendgrid-python/pull/477

[2017-10-28 19:00] pjhampton commented on #475
I've got this 👍

[2017-10-28 20:50] nishithshah2211 commented on #474
Hey, I'd like to work on this. I am already working on the same issue in the `smtpapi-python` repo. Should I go ahead with using regex to parse  for the year or does anyone want to suggest a better way to do it?

Also, the license file is license.txt and not license.md right?

[2017-10-29 04:06] gabrielkrell opened #483 "Customize codeclimate configuration re: docstrings"
Code Climate checks for repeated code in sendgrid-python, but it includes docstrings in these checks.  It's OK for docstrings to be similar to each other, so Code Climate's configuration should be changed to treat text inside docstrings differently.

Code Climate's configuration file is [here](https://github.com/sendgrid/sendgrid-python/blob/master/.codeclimate.yml).  An example of the current res

[2017-10-29 05:11] mbernier commented on #483
Thanks for posting this @gabrielkrell

[2017-10-29 09:20] Prashant-Surya commented on #457
Can I take this up?

[2017-10-29 12:34] thinkingserious opened #487 "Fix "method_count" issue in sendgrid/helpers/mail/personalization.py"
`Personalization` has 24 functions (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/personalization.py#issue_59f5822373ac790001000072

[2017-10-29 13:07] adiman9 commented on #458
PR #488

[2017-10-29 13:10] garunaX commented on #487
may i work on this issue ?

[2017-10-29 13:17] thinkingserious opened #489 "Fix "method_count" issue in sendgrid/helpers/mail/personalization.py"
`Personalization` has 24 functions (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/personalization.py#issue_59f5822373ac790001000072

[2017-10-29 13:17] thinkingserious opened #490 "Fix "method_count" issue in sendgrid/helpers/mail/personalization.py"
`Personalization` has 24 functions (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/personalization.py#issue_59f5822373ac790001000072

[2017-10-29 15:22] dhruvhacks opened #491 "Date range is incorrect in Licence file."
#### Issue Summary

The [license](https://github.com/sendgrid/sendgrid-python/blob/master/LICENSE.txt) file contains old year range. It must be updated.

[2017-10-29 16:00] codervikash commented on #490
@thinkingserious  Is not this a duplicate of #487

[2017-10-29 16:01] codervikash commented on #489
@thinkingserious Is not this a duplicate of #487
fixing some of the codeclimate issue for personalization.py in https://github.com/sendgrid/sendgrid-python/pull/493

[2017-10-29 16:40] codervikash commented on #487
@thinkingserious  This PR fixes some of the codeclimate issues with personalization.py #493.
Also, I found many refactoring and complexity issues in helper files, should I create an issue and fix them.

[2017-10-29 16:45] #491 closed

[2017-10-29 20:27] #442 closed

[2017-10-29 23:35] #489 closed

[2017-10-29 23:35] #490 closed

[2017-10-30 05:04] nvzard commented on #483
@gabrielkrell  I searched in CodeClimate's documentation but was not able to find a way to do this. We can exclude files and paths in .codeclimate.yml but I was not able to find how can we exclude the docstring pattern. Can you please guide me through this?

[2017-10-30 05:25] gabrielkrell commented on #483
According to their README, there's a ["Node Filtering"](https://github.com/codeclimate/codeclimate-duplication#node-filtering) option. I think it might be possible to ignore instances of a function declaration followed immediately by a triple-quoted string (or ones at the top of files, for module-level docstrings).

Alternatively, we could probably get away with just ignoring triple-quoted strings

[2017-10-30 05:40] thinkingserious opened #498 "Fix "method_complexity" issue in sendgrid/helpers/mail/ganalytics.py"
Function `get` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/ganalytics.py#issue_59f639cd343eae000100006f

[2017-10-30 05:46] thinkingserious opened #499 "Fix "similar-code" issue in examples/helpers/mail/mail_example.py"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/examples/helpers/mail/mail_example.py#issue_59f639d0343eae00010000a2

[2017-10-30 05:47] #499 closed

[2017-10-30 05:48] thinkingserious opened #500 "Fix "similar-code" issue in sendgrid/helpers/mail/mail.py"
Similar blocks of code found in 3 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/mail.py#issue_59f639d0343eae000100009e

[2017-10-30 05:48] thinkingserious opened #501 "Fix "similar-code" issue in sendgrid/helpers/mail/personalization.py"
Similar blocks of code found in 3 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/personalization.py#issue_59f639d0343eae000100009f

[2017-10-30 05:49] thinkingserious opened #502 "Fix "similar-code" issue in sendgrid/helpers/mail/personalization.py"
Similar blocks of code found in 6 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/personalization.py#issue_59f639d0343eae0001000086

[2017-10-30 05:49] thinkingserious opened #503 "Fix "similar-code" issue in sendgrid/helpers/mail/mail.py"
Similar blocks of code found in 6 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-python/sendgrid/helpers/mail/mail.py#issue_59f639d0343eae000100008c

[2017-10-30 06:37] waseem18 commented on #503
@thinkingserious I would like to take up this issue and would a PR for this by the end of the day!

Thanks :)

[2017-10-30 09:36] codervikash commented on #501
@thinkingserious hey can you please code review and merge https://github.com/sendgrid/sendgrid-python/pull/493

[2017-10-30 09:44] codervikash commented on #502
duplicate of #501

[2017-10-30 09:52] avihebbar commented on #500
Will take this up 👍

[2017-10-30 16:09] extemporalgenome commented on #500
I can tackle this

[2017-10-30 19:11] codervikash opened #511 "The biggest issue the unresponsive and irresponsible moderators like @thinkingserious @mbernier"
#### Issue Summary

The biggest issue this repo has is unresponsive moderators. I understand they have to manage a lot of PR but still they don't have the courtesy to reply to comments and manage PR.

I see a lot of people just coping others PR's changes to theirs and getting it merged. Do you guys really want people to contribute to your repo? I have this PR( #493  ) for two days and have pinged

[2017-10-31 16:03] mbernier opened #521 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 16:05] mbernier commented on #511
We have had a ton of questions about what's going on, so we wrote up a response and tagged everyone with open Pull Requests at the time of posting!

https://github.com/sendgrid/sendgrid-python/issues/521

[2017-10-31 16:05] #511 closed

[2017-10-31 19:12] thinkingserious opened #525 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 20:14] shorrock commented on #525
I'd like to take this and https://github.com/sendgrid/smtpapi-python/issues/59 please!

[2017-10-31 20:14] thinkingserious opened #528 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 20:39] AnnaDodson commented on #528
Would it be ok if I take this?

[2017-10-31 21:19] stevenmirabito commented on #528
I just opened PR #529 for this issue.

Happy Hacktoberfest! 👻 🎃

[2017-10-31 23:37] AnnaDodson commented on #475
I've updated the file structure as per issue #528: removed `USE_CASES.md` and created directory `use-cases` so the test will definitely fail. I'm happy to update the tests once the PR has been merged if you would like to assign to me or if @pjhampton wants to.

[2017-11-01 01:49] dsouzarc commented on #388
Fixed this issue in [this Pull Request](https://github.com/sendgrid/sendgrid-python/pull/534) as the complete structure of the project changed

[2017-11-01 02:50] mbernier opened #536 "Couple of unittests are failing"
#### Issue Summary

[code]

[2017-11-01 03:15] #475 closed

[2017-11-01 03:30] #474 closed

[2017-11-01 04:06] jlax47 commented on #525
I created a pull request to address this #526

[2017-11-01 04:17] mbernier commented on #464
That makes sense to me.

[2017-11-01 06:34] gabrielkrell commented on #451
Very interesting.  In addition to @dsouzarc's fix, I think this should be either changed in the API or mentioned in the docs.

[2017-11-01 06:52] gabrielkrell commented on #291
@medmunds, agreed that `email.utils.quote` seems like the best way to deal with this for now. [According to Elmer](https://github.com/sendgrid/sendgrid-php/issues/368#issuecomment-287418109) there's an API fix coming at some point, but might as well fix it here for the time being.

[2017-11-01 11:40] pjhampton commented on #475
Hey @AnnaDodson. Thanks. Feel free to update the code as you feel fit 👍

[2017-11-16 05:22] mbonnefoy opened #539 "send_email helper for transactional templates"
Hey guys,

I have been working on transactional templates lately. If I make no mistake there is no `send_email` helper around the use cases here https://github.com/sendgrid/sendgrid-python/blob/3ec799f8a30ab8bc6bbfd794a85fcf4c80af2542/USE_CASES.md#with-mail-helper-class. I think the main benefits would be to abstract out the Email, Content, etc. constructors and just pass strings (and potentially

[2017-11-17 06:50] gae123 opened #540 "Sending e-mails over 7-8MB fail on Google App Engine Standard"
#### Issue Summary

I just switched from Google App Engine e-mail API to SendGrid. I used to have a 20MB limit per e-mail and I thought that SendGrid's 30MiB would be OK.

Now I cannot any messages over 7-8. The code stack trace is the following:

Code:
sg = sendgrid.SendGridAPIClient(apikey=SENDGRID_KEY)
...
response = sg.client.mail.send.post(request_body=data)

Stack Trace:
File "/base/data/hom

[2017-11-17 15:35] #417 closed

[2017-11-22 15:20] ShareinSK opened #541 "attachment.py file missing when installed using pip"
I am working on a windows machine. I have installed sendgrid in virtualenv.

When trying to attach pdf files I am getting 400 error, stating Attachment has no attribute set_content.

When checking the installed sendgrid folder there is no attachment.py file. There is only '__init__.py' and 'mail.py' file.

E-mail sending is working correctly the problem is only with attachment.

![capture](https:/

[2017-11-22 17:36] mbernier commented on #541
@ShareinSK

From the [kitchen sink example](https://github.com/sendgrid/sendgrid-python/blob/master/examples/helpers/mail/mail_example.py#L82), it looks like you can do the following:

[code]

[2017-11-24 20:43] MichaelGuardian opened #542 "Issues with E-Mail attachment"
#### Issue Summary

I want to send a file as a attachment but after reading through the examples a few times I still don't get what I do wrong.
So basically I want to send an ebook (.epub) to a given mail but if I attach a file like in the example below I get Error 400: Bad Request. If I do not attach a file, everything works.

#### Code

[code]

I hope that the examples covering attachment could

[2017-11-25 09:45] MichaelGuardian commented on #542
Found the problem. In python you need to remove the first 2 and the last char of the base64 encoded string to get it working.

[2017-11-25 09:45] #542 closed

[2017-11-28 03:15] thinkingserious commented on #539
Hi @mbonnefoy,

Yes, we are definitely interested. You may want to check out our current efforts [here](https://github.com/sendgrid/sendgrid-python/issues/347). Your feedback is most appreciated!

With Best Regards,

Elmer

[2017-11-28 07:03] thinkingserious commented on #540
Hello @gae123,

It looks like the issue is that when using GAE's `google.appengine.api.urlfetch` (this is probably the underlying card that `urllib2` is using), you are [hitting their limit](https://cloud.google.com/appengine/docs/standard/python/refdocs/modules/google/appengine/api/urlfetch). Perhaps you can ask if they can increase that limit for your account.

With Best Regards,

Elmer

[2017-11-28 17:56] gae123 commented on #540
Well I opened a case with Google App Engine as well, see [this](https://issuetracker.google.com/issues/69439845) but the reality is that the limit of GAE came before your APIs and SDK and IMHO you need to find a way to respect it and provide an SDK that works with that limitation.

[2017-11-28 21:32] thinkingserious commented on #540
Hi @gae123,

Thanks for the additional feedback @gae123. I will leave this issue open so that we may provide a helper in this SDK to assist getting around the GAE limitation.

For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

With Best Regards,

Elmer

[2017-12-02 14:33] party98 commented on #536
Hey I'd like to give it a try

[2017-12-05 18:19] mbonnefoy commented on #539
Hi Elmer,

Cool, I'll try to look at it this week-end.

Cheers,
Matthieu

[2017-12-08 18:41] garuna-m6 commented on #536
is the issue still up ?

[2017-12-09 11:55] ra-esmith commented on #333
Hello,  having the exact same issue !

I am able to run the same code find on a VM on OS X.  But on our ububunt 16 machine I have the same error.  I did pip uinstall sendgrid and then pip install sendgrid to make sure current version ...

[2017-12-09 11:58] ra-esmith commented on #333
Oddly if I run python by hand I do not see the issue, only when I run my script ...

[2017-12-09 12:08] ra-esmith commented on #333
ok issue was naturally my environment variable PATH which had some things out of order.  Once I sorted that out all worked.  I suggest folks clear the PATH variable and add stuff back in slowly once they get send grid working.  standard type of issue

[2017-12-11 23:00] #541 closed

[2017-12-11 23:41] #525 closed

[2017-12-14 00:58] thinkingserious commented on #539
Thanks Matthieu!

[2017-12-14 02:22] thinkingserious commented on #536
It looks like it's still available @garuna-m6, unless @party98 has started it and not made the PR just yet.

[2017-12-14 02:26] thinkingserious commented on #333
Awesome, I'm glad you got it sorted and thanks for following up!

[2017-12-15 14:04] garuna-m6 commented on #536
I think this one is solved already, tried to look up for the cause of these errors but lines don't exist anymore, running pytest is not giving same results.

[2017-12-15 21:21] thinkingserious commented on #536
Ah, thanks for the follow up @garuna-m6!

[2017-12-16 04:36] party98 commented on #536
No, I have not started it yet. @garuna-m6 can take this up.

[2017-12-16 15:12] garuna-m6 commented on #536
Any other issue still up? I think this one should be closed now.

[2017-12-19 01:25] thinkingserious commented on #536
You are correct, thanks @garuna-m6! Closing now.

[2017-12-19 01:25] #536 closed

[2018-01-01 15:46] gabrielkrell opened #544 "Docker build was fixed in PR #430, but versions >5.2.1 haven't been uploaded"
#### Issue Summary

A weird bug was discovered in #426 and fixed in #430, but in the meantime builds for 4.2.1 and 4.3.0 failed.  Is it possible to backport #430 to the old tags and then re-upload to Docker Hub?

#### Steps to Reproduce

(See the [builds page](https://hub.docker.com/r/sendgrid/sendgrid-python/builds/).)

#### Technical details:

The rest of the builds were fine, but Docker was bro

[2018-01-02 22:07] thinkingserious commented on #544
Thanks @gabrielkrell! On the backlog ;)

Happy New Year!

[2018-01-03 06:07] gabrielkrell commented on #544
Same to you!

[2018-01-14 06:02] ibnbay00 opened #546 "Add Category is Failed on Mail Class (mail.py)"
#### Issue Summary
Failed Add Category on Mail Class (mail.py)

#### Steps to Reproduce
[code]
I think the problem is on code:
[code]
Sould be:
[code]

#### Technical details:
* sendgrid Version (from pip): 5.3.0
* Python Version: 3.6.3

[2018-01-14 06:25] ibnbay00 commented on #546
I think need function Category from helper :)

from sendgrid.helpers.mail import Category
Category('name')

[2018-01-14 06:25] #546 closed

[2018-01-17 21:35] carnal0wnage opened #547 "for the love of god make it clear in the docs to base64 encode data before passing to attachment function"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-01-17 21:45] thinkingserious commented on #547
@carnal0wnage,

Thanks for the heads up! Which docs were you looking at?

With Best Regards,

Elmer

[2018-01-17 21:49] carnal0wnage commented on #547
hey sorry for the frustration issue post. I've been looking at the docs in this repo specifically

https://github.com/sendgrid/sendgrid-python/blob/master/examples/helpers/mail/mail_example.py line 82

which makes sense that it's b64 encode after you know it but wasnt clear to me at first that it needed to be.  Even making a comment in the code to pass a b64 encode blob to the attachment.content p

[2018-01-17 21:52] thinkingserious commented on #547
Hi @carnal0wnage,

No worries, I view frustration posts as an opportunity to be better :) I'm glad you took the time to respond. I'm going to re-open this, so we can fix that documentation.

Here is where I would have hoped you [would look](https://github.com/sendgrid/sendgrid-python/blob/master/USE_CASES.md#attachment). We clearly have to do better with guiding people to the appropriate documenta

[2018-01-17 21:54] carnal0wnage commented on #547
yup that would have saved me some time. not sure how i missed it and ended up on that other example. thanks tons

[2018-01-17 22:38] thinkingserious commented on #547
Ah nice, thanks for the follow up @carnal0wnage!

[2018-01-25 18:41] ItsJustChad opened #548 "API not accepting posts >8K bytes despite docs claiming up 10K bytes."
#### Issue Summary

I'm working with a personalization substitution that uses HTML mark up for a table and can get large fairly quickly. When the total mail.get() size is under approximately 8,000 bytes (UTF8), it sends fine. But if it is over 8,000 bytes, I get a 400 Bad Request. [API documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html) says it has to be below 10K by

[2018-01-26 00:25] will-hickson opened #549 "Attribute error with send_kitchen_sink"
#### Issue Summary

I am setting up my python environment to send emails through SendGrid and have been trying to get the mail_example.py to work in my Jupyter notebook. Specifically I need send_kitchen_sink to work which support multipart messages. I loaded the code into my notebook and made appropriate tweaks to configure it, but when I run send_kitchen_sink I get the error below. I have puzzled

[2018-01-26 03:01] thinkingserious commented on #548
Hello @ItsJustChad,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-01-26 03:01] #548 closed

[2018-01-26 03:14] thinkingserious commented on #549
Hi @will-hickson,

What were the steps before step 1? I would like to try and reproduce the error, but I'm not familiar with Jupyter notebooks.

Thanks!

With Best Regards,

Elmer

[2018-01-26 11:42] will-hickson commented on #549
Hi Elmer
I just ran the code block I pasted in notebook and then ran the send_kitchen_sink command. There were no prior steps Other than installing the package and my api key.

If you run it from your IDE does it reproduce the error?
Will

From: Elmer Thomas [mailto:notifications@github.com]
Sent: Thursday, January 25, 2018 10:14 PM
To: sendgrid/sendgrid-python <sendgrid-python@noreply.github.com>

[2018-01-26 17:39] ItsJustChad commented on #548
Thank you. I submitted a request. For the record, I managed to use CURL successfully with more than 8K bytes in the substitution field, so I'm not sure what is going on.

[2018-01-26 22:22] thinkingserious commented on #549
Hello @will-hickson,

I believe the issue (`AttributeError: 'dict' object has no attribute 'add_to'`) is that you are trying to run `add_to` on a `dict` instead of a `Personalization` object. The `add_to` method is defined [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/mail/personalization.py#L29).

I hope that helps!

With Best Regards,

Elmer

[2018-01-26 22:30] thinkingserious commented on #548
Thanks @ItsJustChad!

[2018-01-28 04:51] waseem18 commented on #249
@mbernier @thinkingserious Can I take up this issue?!

I'm jotting down an algorithm on how to rate limit efficiently and will put down the proposal here. Thereafter we can take it forward with the feedback.

Thanks

[2018-01-29 22:17] will-hickson commented on #549
Hi @thinkingserious
I managed to solve the problem. There is an error in the example mail code for the build_personalization function. Here is the corrected code.

[code]

For the benefit of others struggling with this, to run the `send_kitchen_sink()` function the steps are:

1. Define your dict of recipients
`test`=`get_mock_personalization_dict()`
Obviously you can construct your own dict howev

[2018-01-29 22:17] #549 closed

[2018-01-29 22:17] will-hickson commented on #549
Added resolution to this issue

[2018-01-30 16:33] logannc opened #550 "Personalization Substitutions Fail with certain keys"
#### Issue Summary

Personalization Substitutions seem to have additional, undocumented restrictions.

This may be the wrong venue as this does not appear to be a bug in the module, rather a bug in Sendgrid's processing layer or an undocumented restriction that the library fails to protect us from.

Specifically, keys of the form `<%sometext%>` seem to not work while keys of the form `%sometext%`

[2018-01-31 00:28] thinkingserious commented on #249
It's all your @waseem18! Thank you! Glad to have you back :)

[2018-02-01 01:31] scottwilson312 commented on #401
I am also experiencing this issue

[2018-02-01 01:33] scottwilson312 commented on #309
I am confused how the first person's code is different than the example? The only difference I can spot is using the mail constructor with some additional params as opposed to just Mail() ?

[2018-02-01 01:35] scottwilson312 commented on #401
Accessing personlizations[0] did the trick for me

[2018-02-02 16:01] kirk-quinbar commented on #291
we just switched to V3 api from SMTP and found this out too, that commas in the To address name field result in a dropped email. bad..

[2018-02-04 16:25] waseem18 commented on #296
What is the status of this issue? Any one working on it?

[2018-02-05 20:29] thinkingserious commented on #549
Hello @will-hickson,

Would you be willing to make a PR to update the example? If not, no worries. Just let me know and we will open another issue to fix it.

With Best Regards,

Elmer

[2018-02-05 20:30] thinkingserious commented on #550
Hello @logannc,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-02-05 20:30] #550 closed

[2018-02-06 01:05] will-hickson commented on #549
Sure - in next couple of days

From: Elmer Thomas [mailto:notifications@github.com]
Sent: Monday, February 05, 2018 3:29 PM
To: sendgrid/sendgrid-python <sendgrid-python@noreply.github.com>
Cc: Will Hickson <will@dmi.io>; Mention <mention@noreply.github.com>
Subject: Re: [sendgrid/sendgrid-python] Attribute error with send_kitchen_sink (#549)

Hello @will-hickson<https://github.com/will-hickson>,

[2018-02-06 23:09] thinkingserious commented on #291
Thanks for taking the time to provide feedback @kirk-quinbar, I have passed along your feedback to our product team.

With Best Regards,

Elmer

[2018-02-06 23:32] thinkingserious commented on #549
Excellent, thank you!

[2018-02-09 15:24] MadReal opened #552 "How can I add a from_name?"
#### Issue Summary

I can't figure out how to properly add a from name using the mail helper, so that receiver sees the name as well along with the "from Email"

[code]

I tried
`from_name = 'My Name'` as well as `fromname` and than added that in `mail = Mail(from_email, from_name, subject, to_email, content)` but it didn't work.

As well as, still getting errors and the email isn't sending.

[cod

[2018-02-11 07:04] hidace commented on #333
Just ran into this issue and it was driving me crazy. I could not figure out why this was happening. Fast forward 2 hours later when I realized that I made the mistake of naming my file **sendgrid.py**

![giphy-2](https://user-images.githubusercontent.com/10112294/36070729-0920bba8-0ecf-11e8-9e0f-7908ef21f988.gif)

Everything works when you name your file anything else - in case anyone runs into t

[2018-02-13 01:48] thinkingserious commented on #552
Hi @MadReal,

Can you please try [this](https://github.com/sendgrid/sendgrid-python/blob/master/examples/helpers/mail/mail_example.py#L151)?

Thanks!

With Best Regards,

Elmer

[2018-02-13 12:25] MIKNOTAURO opened #553 "Add Multiple Recipients from a cvs file"
#### Feature request

It would be awesome (and a killer feature maybe) to have a method for add recipients from a cvs file... maybe with 2 requests or with one request and a serialize data like json or xml

[2018-02-14 20:39] thinkingserious commented on #333
Thank you @hidace!

[2018-02-14 20:49] thinkingserious commented on #553
Hi @MIKNOTAURO,

Thanks for the suggestion!

I will leave this open since even though it's now on our backlog, it's not likely to be implemented by SendGrid soon. However, if someone would like to submit a PR, that would be awesome :)

With Best Regards,

Elmer

[2018-02-16 14:45] MadReal commented on #552
Didn't work @thinkingserious

[2018-02-16 14:49] #552 closed

[2018-02-16 14:49] MadReal commented on #552
Worked, thanks!

[2018-02-22 15:25] jonodrew commented on #553
@MIKNOTAURO how do you see this working?

[2018-02-22 17:12] MIKNOTAURO commented on #553
@jonodrew @thinkingserious

Like this endpoint POST /contactdb/recipients but with a csv file
something like this -> POST /contactdb/recipients_from_file or POST /contactdb/recipients_from_csv

And then with python like this

sg = sendgrid.SendGridAPIClient(apikey=os.environ.get('SENDGRID_API_KEY'))

response = sg.client.contactdb.recipients_from_file.post(csv_file, id_list_optional=1, delimiter='

[2018-02-22 22:43] jeffoneill opened #556 "7bit encoding with API v3"
I'm still dealing with the issue I mentioned [here](https://github.com/sendgrid/sendgrid-python/issues/341).  Basically, some links in emails get modified so that a "." is repeated and thus breaking the link.  I believe the problem is caused by a buggy email server.

From this [Sendgrid page](https://sendgrid.com/docs/Classroom/Build/Format_Content/html_formatting_issues.html) and my own research,

[2018-02-22 23:21] thinkingserious commented on #556
I have sent along your feedback to our product team. I will post here when I get a response. Thanks @jeffoneill!

I'm not sure about App Engine support. We do have a [SMTPAPI sdk here](https://github.com/sendgrid/smtpapi-python).

[2018-02-22 23:26] jeffoneill commented on #556
I should add that the buggy email server is probably not a Sendgrid one but one of a recipient or somewhere in between...  Not looking to fix the server, but for a workaround to avoid the bug.

[2018-02-25 18:55] dhruvg opened #558 "X-Message-ID is not the complete Message ID"
#### Issue Summary

The `X-Message-ID` I get back from the V3 send API is something like `JQtrNr0IRR-slAi2eCUMSg`. However, when I see "Show Original" on my Gmail client, I see the `Message ID` as `<JQtrNr0IRR-slAi2eCUMSg@ismtpd0004p1iad1.sendgrid.net>`. The latter is useful if I want to send followup emails which show up in the same email thread as the first email (via the `In-Reply-To` and `Refe

[2018-02-25 19:28] ppruitt-sg commented on #558
Unfortunately there isn't a way to capture the full Message ID from the response, the X-Message-ID will always include just the first 22 characters of that Message ID, the rest of the information is appended to the ID after it has been accepted by SendGrid and before sending the message to the recipient.

What you can do to correlate this info is use the [Event Webhook](https://sendgrid.com/docs/A

[2018-02-25 19:31] dhruvg commented on #558
Ah ha! Thanks.

[2018-02-25 19:31] #558 closed

[2018-02-26 21:15] dhruvg opened #560 "SLA for Sendgrid "processed" event"
#### Issue Summary

I notice that I don't reliably get `processed` events via the webhook. The odd thing is that I successfully receive `open` and `click` events for the same email which by definition occur after `processed`. For example, I just sent a batch of 100 emails and I got 17 `processed` events and 25 `open` events. I have no reason to believe that my server is overloaded. Am I just being

[2018-02-27 03:34] thinkingserious commented on #560
Hello @dhruvg,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-02-27 03:34] #560 closed

[2018-02-27 21:40] thinkingserious commented on #521
Hello @mbernier,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2018-02-27 21:40] #521 closed

[2018-02-27 21:41] #502 closed

[2018-02-27 21:47] #459 closed

[2018-02-27 21:49] #440 closed

[2018-02-27 21:55] #401 closed

[2018-02-27 22:04] #383 closed

[2018-02-27 22:14] #344 closed

[2018-02-27 22:14] #336 closed

[2018-02-27 22:14] #330 closed

[2018-02-27 22:17] #170 closed

[2018-02-28 22:23] ZMelo-Sendgrid commented on #371
@PadamSethia Sorry about the long wait! The API calls you're looking for are
https://github.com/sendgrid/sendgrid-python/blob/master/examples/contactdb/contactdb.py#L187 which adds the contact to the contactDB.

https://github.com/sendgrid/sendgrid-python/blob/master/examples/contactdb/contactdb.py#L148
That POST will add the contact to the appropriate list.

[2018-03-01 06:28] PadamSethia commented on #371
Ok , Thanks . Will look into it and update within a week or so.

[2018-03-02 15:06] utkusen opened #561 "UnauthorizedError: HTTP Error 401: Unauthorized error appears when sending e-mail"
#### Issue Summary
I can send e-mails with my api key by using curl with following examples: https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/curl_examples.html

But when I try to send an e-mail with "Hello Mail/With Mail Helper Class" code, I get following error:

[code]
#### Technical details:

* sendgrid-python Version: 5.3.0
* Python Version: 3.6

[2018-03-02 16:37] utkusen commented on #561
Now I understand the issue. Example code contains this code `apikey=os.environ.get('SENDGRID_API_KEY')` what I understand from here, I just need to type my API key to here. However, it's the name of the environment variable. Documentation is not clear on this and it's very confusing. I suggest you to make this point clear for everyone. Cheers

[2018-03-05 18:18] thinkingserious commented on #561
I have reopened this issue so that we can update the README to make this issue clearer.

Thanks @utkusen!

[2018-03-06 21:28] thinkingserious commented on #556
Hi @jeffoneill,

The double dot issue is now fixed on our side. Please let us know if you see this issue again.

Thanks!

With Best Regards,

Elmer

[2018-03-06 21:28] #556 closed

[2018-03-08 15:44] VG13 commented on #302
Hi there, we are seeing the same issue in the body of the email. In each email, spaces get added at random spots - there's no pattern that we can see so have no idea how to fix them. @SendGridDX @thinkingserious

[2018-03-08 16:07] thinkingserious commented on #302
Hello @VG13,

Can you please [open a ticket with our support team](https://support.sendgrid.com)? Thank you!

With Best Regards,

Elmer

[2018-03-08 16:13] VG13 commented on #302
Done, thanks Elmer.

[2018-03-13 15:16] thinkingserious opened #562 "Updates for the new Email Activity API (beta)"
SendGrid has added an API to download information from the Email Activity feed. There are four new endpoints:
* [GET /messages](https://sendgrid.api-docs.io/v3.0/email-activity/filter-all-messages)
* [GET /messages/{msg_id}](https://sendgrid.api-docs.io/v3.0/email-activity/filter-messages-by-message-id)
* [POST /messages/download/](https://sendgrid.api-docs.io/v3.0/email-activity/request-csv)
* [G

[2018-03-14 15:43] pythoncreate commented on #371
hey guys any update on this? trying to add one to my django site as we speak

[2018-03-14 17:41] thinkingserious commented on #371
Hi @PadamSethia,

Are you still working on this one?

With Best Regards,

Elmer

[2018-03-15 02:58] PadamSethia commented on #371
Couldn't find time to work on it.

[2018-03-20 15:53] thinkingserious commented on #371
Thanks @PadamSethia!

[2018-03-20 17:26] Phrohdoh commented on #315
I'd like to resurrect this issue as `sendgrid-python` the package still does not export its own error types.

This means, as @w- pointed out, library users must be knowledgable of an implementation detail (`urllib`, `python_http_client`, etc).

Due to this library users must declare `python_http_client` as an explicit dependency (which means keeping `python_http_client` and `sendgrid` in sync).

I

[2018-03-20 18:42] thinkingserious commented on #315
Thanks for the heads up @Phrohdoh!

This issue is officially resurrected :)

[2018-03-23 21:35] qaturner opened #563 "content formatting with \n"
#### Issue Summary

setting content with a value of
      'something\nsomething'
will not format correctly where as
      'something\n something'
will format correctly in the received email.

#### Steps to Reproduce

1, Set up a mail object assigning the content as follows:
         content=Content('text/plain','something\nsomething')
2. Send mail

I was creating an email whose contents is created

[2018-03-24 01:51] thinkingserious commented on #563
Hello @qaturner,

I'm not sure if this is a library or API issue. I have added this to our backlog for further investigation. Thanks for bringing this to our attention!

With Best Regards,

Elmer

[2018-03-26 15:28] mlafore3 opened #565 "Substitution for transactional templates in API v3 does not work"
``` SEND_GRID_CLIENT = sendgrid.SendGridAPIClient(api_key=CFG['sendgrid_api'])```
[code]

[code]

[code]

[code]

#### Technical details:

* sendgrid-python Version: master (latest commit: [commit number])
* Python Version: 2.7.14

[2018-03-26 15:39] mlafore3 commented on #565
[code]

[2018-03-26 16:14] mlafore3 commented on #565
I guess my question is how to set the to parameter for substitutions programmatically

[2018-03-26 16:28] #565 closed

[2018-03-27 05:38] lohriialo opened #566 "Enhancement request for examples/helpers/mail/mail_example.py"
Would be so much more helpful for someone new to Sengrid if you can put in a Readme at `examples/helpers/mail` and explain what `mail_example.py` does. Comments in the example code isn't very helpful

[2018-03-27 09:01] lohriialo opened #567 "Emails not delivered to @hotmail.com or @outlook.com email addresses"
#### Issue Summary

Emails are not coming through to @hotmail.com or @outlook.com email addresses using sendgrid-python. Emails are getting delivered to gmail or others

#### Steps to Reproduce

[code]

If this is a know issue and documented somewhere, I can't find those documentation. Would be helpful to put this in the Readme, i wasted hours trying to figure out why

#### Technical details:

* s

[2018-03-27 15:15] thinkingserious commented on #566
Great idea @lohriialo,

I've added this to our backlog and opened it up to the community for a PR.

Thanks!

With Best Regards,

Elmer

[2018-03-27 15:16] thinkingserious commented on #567
Hello @lohriialo,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-03-27 15:16] #567 closed

[2018-03-27 20:20] dushi27 commented on #242
I saw the same "Unauthorized" message when I generated the API key using my "teammate" account and apparently it did not have Mail "**send**" privileges. Worked after I used main admin account or upgrade the teammate permissions.

More about SendGrid "teammates" permissions : https://sendgrid.com/docs/User_Guide/Settings/teammates.html#-Configuring-permisisons

[2018-03-28 19:51] thinkingserious commented on #242
Thanks for the additional feedback @dushi27!

[2018-04-02 11:30] 1024kilobyte commented on #99
Any update regarding this issue?

[2018-04-02 18:19] thinkingserious commented on #99
Hi @1024kilobyte,

Please follow [this thread](https://github.com/sendgrid/sendgrid-python/issues/296) for updates. Thanks!

With Best Regards,

Elmer

[2018-04-05 01:17] artofkot commented on #346
Hello. I am having a very similar kind of error:

`sg = sendgrid.SendGridAPIClient(apikey=current_app.config['SENDGRID_APIKEY'])`
`d=time.strftime("%Y-%m-%d")`
`params = {'aggregated_by': 'day', 'limit': 1, 'start_date': d, 'end_date': d, 'offset': 1}`
`response = sg.client.stats.get(query_params=params)`

raises

Could you please point out to me what is wrong with my get request, or possibly add

[2018-04-05 01:30] artofkot opened #568 "A problem with a request."
#### Issue Summary

Could you please point out to me what is wrong with my get request below?  Thank you in advance! This issue is very similar to [this one](https://github.com/sendgrid/sendgrid-python/issues/346).

#### Steps to Reproduce

my code: (took it from [here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md#stats))
`sg = sendgrid.SendGridAPIClient(apikey=current_app.conf

[2018-04-05 19:05] artofkot commented on #568
Hi @thinkingserious,

Many thanks for your comment. I already achieved my goal through a different path, so I no longer really need to understand this error. Please go ahead and close this issue.

Best,
Artem

[2018-04-05 19:08] thinkingserious commented on #568
Thanks for the update @artofkot!

[2018-04-05 19:08] #568 closed

[2018-04-10 11:10] dizlv commented on #296
@LiYChristopher are you sure your code actually works? Client post will block scheduler, or I'm missing something?

`response = sg.client.mail.send.post(request_body=email.get())`

[2018-04-13 21:29] onecrayon opened #569 "Mail helper docstring is wrong"
#### Issue Summary

The Mail helper docstring claims that all of its arguments are optional. However, if you fail to pass one of them then none of them are saved (it's all or nothing):

https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/mail/mail.py#L44

This was a major annoyance to debug (kept getting 400 Bad Request errors because the "from" and "to" emails were getting si

[2018-04-13 22:55] thinkingserious commented on #569
Hi @onecrayon,

Thanks for the heads up! In the short term, I think we should fix the docstrings. I'm adding this to our backlog, but feel free to submit a PR if you like.

In the [next version](https://github.com/sendgrid/sendgrid-python/issues/347), we will make these optional. If you have any feedback on the next version, we would love to have it :)

With Best Regards,

Elmer

[2018-04-25 05:38] ahalyakumari95 commented on #104
I am facing this issue again. Got URLError for perfectly working email set for limited time and started working fine again.

[2018-04-26 20:07] thinkingserious commented on #104
Hello @ahalyakumari95,

Could you please open a new issue with the details of your particular case? Thank you!

With Best Regards,

Elmer

[2018-05-01 20:31] brettlangdon opened #571 "Feature request: Support for sending email.message.EmailMessage"
I am working on integrating SendGrid into an application where I already have email messages as [email.message.EmailMessage](https://docs.python.org/3.6/library/email.message.html#email.message.EmailMessage), it would be really awesome if there was a way for me to send an `EmailMessage` directly rather than having to reconstruct .

[2018-05-03 00:08] thinkingserious commented on #571
Great idea @brettlangdon, thanks for creating the issue!

[2018-05-05 00:18] oliver-zhou opened #572 "Multiple addresses in Reply-To support in sendgrid-python"
#### Issue Summary

Python specific issue identical to sendgrid/sendgrid-csharp#339

sendgrid-python should properly support multiple email addresses for the 'Reply-To' field. This is an existing issue in the other sendgrid packages that needs to also be fully integrated here when it's implemented in the sendgrid API

* sendgrid-python Version: v5.3.0
* Python Version: 2.7 and 3.6

[2018-05-07 23:57] thinkingserious commented on #572
Thanks for posting this here @oliver-zhou,

Until we get this feature implemented at the API level, I'm temporarily labeling this as a non-library issue.

[2018-05-16 14:26] jo-mongia opened #574 "Why is the transaction email or any email going to SPAM folder? How can we resolve this issue?"
#### Issue Summary

I am using python integration code to send emails using sendgrid, but it is going to SPAM folder. From my observation I think the IP address is blacklisted. How can we resolve this issue and make the email delivered in INBOX.
What are the other possible reasons for emails getting delivered to SPAM folder?

#### Steps to Reproduce

1. This is the first step
2. This is the second

[2018-05-16 16:31] lanshark opened #575 "Unicode Support???"
#### Issue Summary

SendGrid API, V3... The only mention of Unicode is in the API Overview, where it says it's NOT supported in personalizations from field.  That would IMPLY that it IS automatically supported everywhere else...

#### Steps to Reproduce

1. Create a message with unicode... attempt to send..
2. Fails

Maybe there is some magic I'm missing, but who knows... the doc's will never tell

[2018-05-16 18:50] maelfosso opened #576 "IncompleteRead: IncompleteRead(0 bytes read, 116 more expected) -- HTTPError: HTTP Error 401: Unauthorized"
#### Issue Summary

It's my first time using sendgrid with python. When I try to send email I got that issue

[code]

Here is my code:

[code]
#### Technical details:

* sendgrid-python Version: master (latest commit: [commit number])
* Python Version: 3.5.2

[2018-05-17 00:08] thinkingserious commented on #575
Thanks for the heads up @lanshark. To be clear, where did you place the unicode? Subject, body, etc..? I will attempt to reproduce.

@ksigler7,

Do you have any insights regarding how this is documented?

Thanks!

With Best Regards,

Elmer

[2018-05-17 00:14] thinkingserious commented on #576
Hello @maelfosso,

A "HTTP Error 401: Unauthorized" message means there is an issue with your API Key. Can you please verify your key is [valid here](https://sendgrid.com/docs/API_Reference/api_v3.html)?

Thanks!

With Best Regards,

Elmer

[2018-05-17 00:17] thinkingserious commented on #574
Hello @jo-mongia,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-05-17 00:17] #574 closed

[2018-05-17 07:31] maelfosso commented on #576
You're right !

Thanks !!

[2018-05-17 07:31] #576 closed

[2018-05-17 07:35] maelfosso opened #577 "Html Email It's not working. No CSS. No Bootstrap Effect"
#### Issue Summary

I'm trying to send HTML email using python3. I don't know why but the received email has no css. No effect of Bootstrap 4 and FontAwesome.

Could you please explain me ?

#### Steps to Reproduce
Here is my code

[code]
#### Technical details:

* sendgrid-python Version: master (latest commit: [commit number])
* Python Version: X.X

[2018-05-17 14:12] ksigler7 commented on #575
I don't know! I'm digging into it though, this is a really good question

[2018-05-29 10:13] dalelantofindshare commented on #242
Hi, I also encounter this error but when I try this : https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/curl_examples.html#-Hello-World
it says 400 Bad Request. Help please.

[2018-05-29 10:58] sachin2811 commented on #83
import sendgrid
from sendgrid.helpers.mail import *
import traceback
import urllib
from sendgrid.helpers.mail import Mail, Email, Content

class SendMail():
    def send_mail(self, to_email, from_email, subject, message, bcc, cc, name):
        try:
            print(cc)
            sg = sendgrid.SendGridAPIClient(apikey='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')

[2018-05-29 11:16] sachin2811 commented on #236
import sendgrid
from sendgrid.helpers.mail import *
import traceback
import urllib
from sendgrid.helpers.mail import Mail, Email, Content

class SendMail():
def send_mail(self, to_email, from_email, subject, message, bcc, cc, name):
try:
print(cc)
sg = sendgrid.SendGridAPIClient(apikey='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')
From_Email = Email(from_email,name)
To_E

[2018-05-30 03:45] sachin2811 commented on #83
Hey @thinkingserious thanks for your reply,
sm.send_mail(''xyz@gmail.com,''xyz@gmail.com', 'Testing_Sendgrid','Hey this is xyz from xyz', ''xyz@gmail.com ','xyz@gmail.com','xyz xyz')
  File "sendmail.py", line 36, in send_mail
    response = sg.client.mail.send.post(request_body=mail.get())
   /email_server/emailserver/lib/python3.5/site-packages/python_http_client/client.py", line 227, in http_re

[2018-05-30 03:53] dalelantofindshare commented on #242
Hi Elmer

So These are what I entered and I saw this in my sendgrid account :
SEND_GRID_API_KEY = 'SG.4j2-BrXyRnKcApYJ-9vcQw.C5asnXzm4q7Or0MecPXeoRipz_*****************'
EMAIL_HOST = 'smtp.sendgrid.net'
EMAIL_HOST_USER = 'dale*****'
EMAIL_HOST_PASSWORD = '***********'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
DEFAULT_FROM_EMAIL = 'dale.*****@********.com'
ACCOUNT_EMAIL_SUBJECT_PREFIX = 'Contact email

[2018-05-30 17:30] #451 closed

[2018-05-30 17:37] thinkingserious commented on #83
Hello @sachin2811,

What is the value of `response.body`?

[2018-05-30 17:40] thinkingserious commented on #242
Hello @dalelantofindshare,

Could you please provide me with your support ticket number? Thanks!

[2018-05-30 21:13] #498 closed

[2018-05-30 21:29] #528 closed

[2018-05-30 23:52] codeFarmerJ opened #578 "JSON quoted comma not ignored"
#### Issue Summary

I'm using a python script to send emails. It mostly works.  Comma embedded in quotes are causing the submission to fail.

#### Steps to Reproduce

The input is a CSV file.

"Joe User",addr1@example.com,54321
"User, Joe",addr2@example.com,55555
The second line fails.

Python correctly parses the line and formats it as JSON, but it fails on submission. Apparently the quotes on na

[2018-05-31 15:08] mick88 commented on #203
@thinkingserious the link does not work

[2018-05-31 18:04] #388 closed

[2018-05-31 18:58] aureliendebord opened #579 "Get AttributeError: 'str' object has no attribute 'get' when sending email with Django"
I am sending an email to regenerate password to newly created Users.
The argument user takes an instance of User.

[code]

I get no mail sent and this error message. Thanks.

[code]

#### Technical details:

* Python Version: 3.6.5

[2018-06-01 14:28] aureliendebord commented on #579
My bad. Forget to use th Email() on user_email.

Closed.

[2018-06-01 14:28] #579 closed

[2018-06-01 19:03] jeffoneill commented on #556
I'm still having this issue.

Isn't this an issue that all users of your API v3 experience?  If so, it seems that support 7bit encoding or something more robust should be very high priority.

[2018-06-02 10:41] JohnnyQQQ opened #580 "python_http_client.exceptions.UnauthorizedError: HTTP Error 401: Unauthorized"
I've gone through nearly everything on the help pages here but I'm still getting an HTTP Error 401: Unauthorized error.

I have created about 4 new api's and different configurations but still the same error

This is a new account and was hoping to use sendgrid for email.

I've done the curl examples and everything runs fine.

The code is directly from sendgrid:

import sendgrid
import os
from sen

[2018-06-05 00:28] thinkingserious commented on #203
My apologies, here is the correct link: https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/attachment.md

[2018-06-05 01:36] thinkingserious commented on #579
Thanks for providing an update @aureliendebord!

[2018-06-05 01:40] thinkingserious commented on #556
Hello @jeffoneill,

I thought this issue was resolved. I have not seen any other reports of this issue. Could you please reach back out to our support team to help us get to the bottom of this?

With Best Regards,

Elmer

[2018-06-05 01:46] thinkingserious commented on #580
Hello @JohnnyQQQ,

This line: `SENDGRID_API_KEY = '***sendgrid***api***'` is not necessary. Your API Key should have been set in your environment like so: https://github.com/sendgrid/sendgrid-python#setup-environment-variables

The method `os.environ.get` gets the API key from the envoronment variable `SENDGRID_API_KEY`, but you have set `SENDGRID_API_KEY` directly. So when `os.environ.get` attemp

[2018-06-05 10:21] JohnnyQQQ commented on #580
Thanks, I'm also on a windows system so I'll have to set up the path.

[2018-06-06 15:31] #465 closed

[2018-06-07 14:55] #569 closed

[2018-06-08 13:38] richardnias opened #582 "Attempting to set substitutions on Personalization helper causes infinite regress"
#### Issue Summary

Attempting to set substitutions on a `Personalization` helper directly (rather than with `add_substitution`) throws a `RecursionError`.

#### Steps to Reproduce

[code]

This throws a `RecursionError`. The offending line is [personalization.py#L119](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/mail/personalization.py#L119).

I will open a PR as this

[2018-06-08 13:55] richardnias commented on #582
Accidentally closed by merging a pr in my own fork, apologies, reopened.

[2018-06-08 15:48] stefangordon commented on #580
Not path, just `set SENDGRID_API_KEY xxxxx`

[2018-06-08 17:35] JohnnyQQQ commented on #580
For some reason that didn't work, but once I set the environment variable it worked

[2018-06-11 17:56] thinkingserious opened #584 "Fix v5.4.0 Docker Build"
#### Issue Summary

https://hub.docker.com/r/sendgrid/sendgrid-python/builds/bqbphvacgghbty7paqyuz9i/

[2018-06-11 18:00] thinkingserious commented on #582
Thanks @richardnias! This is now on our backlog for a merge.

[2018-06-11 18:05] #580 closed

[2018-06-17 11:57] chenzhendong opened #586 "When run with your quick start sample with python3.6, got No module named 'urllib2'"
#### Issue Summary

Your lib cannot run under python3.6

#### Steps to Reproduce

1. Copy & Paste your sample script
2. Replace API key, email etc
3. Run it with Python3.6

Error Trace
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/python_http_client/client.py", line 7, in <module>
    import urllib.request as urllib
  File "/usr/local/lib/python3.6/urllib/reques

[2018-06-19 14:13] isaacnicholas commented on #586
I had a similar issue, but was able to solve it. I had a package named email.py that broke urllib. When their http client is importing other modules, if it fails to import urllib, it has an exception to import urllib2 (for backwards compatibility with Python 2).

Go to [these lines](https://github.com/sendgrid/python-http-client/blob/master/python_http_client/client.py#L5-L14) in the http client c

[2018-06-25 22:49] thinkingserious commented on #586
Thanks @isaacnicholas!

@chenzhendong,

Have you tried @isaacnicholas' suggestion?

[2018-06-26 16:57] #582 closed

[2018-06-28 15:49] bchandaka commented on #561
In addition to making that line clear in the python code, I think the README should also be updated with how to properly set the environment variable for the api key on windows. I found(after multiple attempts) that typing  `set SENDGRID_API_KEY=<insert_your_api_key>` into the cli works.

[2018-07-02 13:39] henrybetts opened #587 "Wrong docstring for add_category"
#### Issue Summary

The docstring for the add_category method in the mail helper claims that category is of type 'string', but it should actually be of type 'Category'.

https://github.com/sendgrid/sendgrid-python/blob/1ac58c6fc491554bc24573393ae6242e579dbabb/sendgrid/helpers/mail/mail.py#L381

This produces a warning in some editors when passing in a Category object.

#### Technical details:

* s

[2018-07-03 21:18] thinkingserious commented on #561
Thank you @bchandaka!

If you don't mind and have the time, we are accepting PRs :)

[2018-07-03 21:38] thinkingserious commented on #587
Thanks @henrybetts!

I have added this to our backlog. For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

[2018-07-09 04:18] fenderjair commented on #182
I get the same message but the email is not received.

Do you have any suggest?

[2018-07-10 23:12] thinkingserious commented on #182
Hello @fenderjair,

It's possible the email may have ended up in SPAM. If not, I suggest you reach out to [our support team](https://support.sendgrid.com) to dig deeper into your account.

With Best Regards,

Elmer

[2018-07-12 18:09] stevenatciklum opened #589 "Support for dynamic_template_data"
#### Issue Summary
Handlebars-style template support is in beta. Believe there will be some changes needed to support the "dynamic_template_data" parameter.

Details on API can be found here: https://sendgrid.com/docs/User_Guide/Transactional_Templates/how_to_send_an_email_with_transactional_templates.html

Mostly opening this issue to find out if there's already any work in progress on this, or t

[2018-07-12 21:51] thinkingserious commented on #589
Hi @stevenatciklum!

Yes, we are planning to update all of the SendGrid SDKs to support this feature. We just not posted the issues yet.

[This implementation](https://github.com/sendgrid/sendgrid-nodejs/issues/696) can be used as a guide.

Thanks!

With Best Regards,

Elmer

[2018-07-25 17:41] rdhara commented on #187
Hi all, still having problems with the v3 driver; getting the same 400 error despite following the template.

[code]

Printing `mail.get()` produces:
[code]
But I am met with **BadRequestsError: HTTP Error 400: Bad Request**.  The email goes through when the  I don't add any substitutions (commenting our those two personalization lines). The goal of substitution is to dynamically produce the conte

[2018-07-25 19:23] rdhara opened #590 "400 Bad Request Error when using substitution"
#### Issue Summary

Having problems with the v3 driver; getting the same 400 error despite following the template.

#### Steps to Reproduce

Here is the code I am using

[code]

Printing `mail.get()` produces:
[code]
But I am met with **BadRequestsError: HTTP Error 400: Bad Request**.  The email goes through when the  I don't add any substitutions (commenting our those two personalization lines).

[2018-07-25 21:09] thinkingserious commented on #590
Hello @rdhara,

I'm assuming you are using our new dynamic templates as opposed to our legacy templates. The new dynamic templates are used a bit different and we are [currently working on adding some helpers to this SDK](https://github.com/sendgrid/sendgrid-python/issues/589) to make it easy.

In the meantime, you can build your own request object [like this](https://github.com/sendgrid/sendgrid-

[2018-07-25 21:09] #590 closed

[2018-07-25 22:18] rdhara commented on #590
Hi @thinkingserious,

Thank you for your response. I am getting the same error even when using the method provided in your suggested resource.

[code]
returns the following response:

[code]

Is there some formatting issue I should know about? The returned error is not at all informative. Thank you!

[2018-07-25 23:17] thinkingserious commented on #590
Hello @rdhara,

Please replace the `substitutions` key with `dynamic_template_data`. Also, in your HTML please use `{{reset_token}}` in your HTML and then `reset_token` as the key in the request body.

With Best Regards,

Elmer

[2018-07-26 00:04] rdhara commented on #590
That worked - thank you!

[2018-07-26 14:47] djw27 commented on #589
Unless I'm missing something this is rather trivial! I need to look into the documentation some more (there are a few gaps given how new this is), but we have a working implementation which simply mimics how subsitutions are treated?

We've simply updated the `Personalization` helper to include a `_dynamic_template_data` exactly the same as `_substitutions`. You can even get away with using the `S

[2018-07-26 16:06] djw27 commented on #589
I've just put this together as an example of what we're doing - by no means fully tested: https://github.com/sendgrid/sendgrid-python/compare/master...workshoptech:master

[2018-07-26 18:52] thinkingserious opened #591 "Add Dynamic Template Support"
#### Issue Summary

On 7/24/2018, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be found in our [blog post announcement](https://sendgrid.com/blog/how-to-use-sendgrid

[2018-07-26 18:53] thinkingserious commented on #589
That's awesome @djw27!

I've updated the acceptance criteria to clarify what we need [here](https://github.com/sendgrid/sendgrid-python/issues/591).

For continued progress, please follow [this issue](https://github.com/sendgrid/sendgrid-python/issues/591) instead.

Thanks!

Once that issue comes up on my backlog I'm going to dig into your solution @djw27. Thanks again!

[2018-07-26 18:53] #589 closed

[2018-07-27 09:12] djw27 commented on #589
@thinkingserious great - I think my solution fits the acceptance criteria. I'd like to add some test coverage before submitting a PR however, will try find time!

[2018-07-27 10:00] campbellmc commented on #409
I guess this would need ProxyHandler added in python_http_client first or at the same time, right?
https://github.com/sendgrid/python-http-client/blob/master/python_http_client/client.py

Would the intention be to add proxies kwargs when instatiating SendGridAPIClient ?  And then pass the kwargs through to python_http_client Client?

[2018-07-31 01:53] thinkingserious commented on #409
Hi @campbellmc,

Yes, that is correct. Thanks!

[2018-07-31 01:54] thinkingserious commented on #589
Thanks @djw27!

[2018-08-01 00:49] qgreg commented on #591
So I ended up starting my startup's transactional email project without knowing dynamic templating was new. While the management decision to make dynamic templating default when the SDK didn't support the new feature was questionable, with a bit of help from your support team, I wrote some code so I could use the SDK. Here's a Gist.

https://gist.github.com/qgreg/4ea19b0241b8b74b88011e36b2641c3a

[2018-08-01 09:00] gothraven opened #592 "Add recipients endpoint returns 201 but nothing is Added"
#### Issue Summary

I’m using the sendgrid api to add recipients, the server response is good, though nothing is added. and thats because i’m using Django manager shell.

#### Steps to Reproduce

I used this script to add the recipient:

[code]

I checked if it is added .. and nothing was added

I tried the same thing with postman, and everything worked normally with no problem, and i found the re

[2018-08-02 17:50] DiscoMushroom opened #594 "Requests being made to send email, but email is never received"
# Issue Summary

Hi, I'm using django 2 with python 3.5, the sendgrid web api (not smtp), and the [django-sendgrid-v5 package](https://github.com/sklarsa/django-sendgrid-v5) to try to send emails because my vps (digital ocean) blocks smtp emails for the first 60 days. Here's the settings.py, and a test function I'm running.

My domain host points to my vps on digital ocean. I also have all the MX

[2018-08-03 13:37] bchandaka commented on #561
My code worked with just the api key and I don't think I even got an api key password. Did you try printing the api key variable in the cli or in your python program to see if the variable is being read/set properly?
@tollvam

[2018-08-03 16:18] tollvam commented on #561
@bchandaka Yes i checked and the class  variable self.apikey is well set with my api key

[2018-08-04 01:33] lifez commented on #584
I open pull request https://github.com/sendgrid/sendgrid-python/pull/596

[2018-08-04 17:48] thinkingserious commented on #591
Thank you for your support @qgreg!

Please follow [this link](https://dx.sendgrid.com/swag ) so that we can send you some SendGrid swag as a small token of our appreciation.

With Best Regards,

Elmer

[2018-08-04 17:57] thinkingserious commented on #592
Hello @gothraven,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-08-04 18:27] thinkingserious commented on #594
Hello @DiscoMushroom,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-08-04 18:27] #594 closed

[2018-08-04 18:35] thinkingserious commented on #561
Hi @tollvam,

To confirm it's not an API Key issue, please try making the call [here](https://sendgrid.com/docs/API_Reference/api_v3.html) with your API Key.

Thanks!

With Best Regards,

Elmer

[2018-08-06 06:13] belary commented on #333
hhaha, my file name is "sendgrid.py" and this is the reason

[2018-08-06 08:45] tollvam commented on #561
Hi @thinkingserious, thanks for the link. It says "The provided authorization grant is invalid, expired, or revoked" so i have to regenerate one ? thanks

[2018-08-06 23:51] af4ro commented on #387
Hey @mattgd, are you still working on this?

[2018-08-07 00:52] mattgd commented on #387
@af4ro Unfortunately didn't find time to complete it. Feel free to take it!

[2018-08-08 00:58] thinkingserious commented on #561
Hello @tollvam,

Yes, that is what I would try.

Thanks!

With Best Regards,

Elmer

[2018-08-08 05:16] sachin2811 commented on #83
It doesn't happen that way since it does not return anything. It says bad request 400

[2018-08-08 10:06] tollvam commented on #561
Just to be sure, do i have to put something in "Query String" on the page to test ?

[2018-08-08 23:13] thinkingserious commented on #83
Hello @sachin2811,

I think I've discovered what happened. When you call the `mail = Mail(From_Email, Subject, To_Email, content)` constructor, it creates a `personalization` object behind the scenes for you. To add to it, you would do `personalization[0].add_bcc(Email(bcc))`. Otherwise, you could call `Mail()` without any parameters [like so](https://github.com/sendgrid/sendgrid-python/blob/maste

[2018-08-08 23:26] thinkingserious commented on #561
[Here](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/curl_examples.html#-Hello-World) is an even easier method to test your API Key.

[2018-08-08 23:55] #561 closed

[2018-08-09 02:07] sachin2811 commented on #83
Hi @thinkingserious .Figured it, did whatever your mentioned and its fine now.Thanks

[2018-08-09 11:47] leebenson commented on #591
that's nice @qgreg.

But for anyone relying on the SDK to stay in sync with the API, I find that extending classes and monkey patching the internals is overkill.

A SendGrid API request is just JSON. Since `mail.get()` returns a dictionary object, you can apply new keys directly to it without the SDK abstractions.

For example - adding dynamic templates to an existing `Mail()` instance is as simpl

[2018-08-13 02:07] zberwaldt commented on #586
I ran into this issue myself. I also had an file named 'email.py' so I renamed it, uninstall sendgrid and reinstalled. Everything worked after that.

[2018-08-13 17:00] JamesTheTerry opened #602 "Apostrophe in Subject Not Parsing Properly"
#### Issue Summary

I've been sending subjects with apostrophes and quotation marks and they've appeared with HTML encoding: `&quot;` and `&apos;`

I've tried encoding it straight strign, with utf_8 encoding, and with utf_8 encoding then decoded for unicode_escape.

When tried in the [API explorer](https://sendgrid.com/docs/API_Reference/api_v3.html) it worked fine, with the characters appearing a

[2018-08-13 18:26] JamesTheTerry commented on #602
Update:

After further testing, I've found this appears to be an issue with `dynamic_template_data`'s interpretation of these characters, as passing in the subject line in normally in personalization works fine (see example below).

[code]

My subject is being passed in as a handlebars variable into the subject line of my transactional template. This seems to be causing the issue.

[2018-08-14 01:33] #586 closed

[2018-08-14 02:00] #362 closed

[2018-08-15 07:46] Giaco9 commented on #591
Do you have an ETA for either #593 or #591 to be released?

[2018-08-16 17:59] #547 closed

[2018-08-16 18:04] thinkingserious commented on #379
@DannyLee12,

Please feel free to reopen if you are still experiencing this issue.

[2018-08-16 18:04] #379 closed

[2018-08-16 18:44] thinkingserious commented on #584
Fixed with #596

[2018-08-16 18:44] #584 closed

[2018-08-16 18:45] thinkingserious commented on #587
Fixed with #595

[2018-08-16 18:45] #587 closed

[2018-08-16 18:46] thinkingserious commented on #602
Hello @JamesTheTerry,

This issue should now be resolved, there a fix pushed out server side.

Please re-open if there are any further issues.

Thanks!

With Best Regards,

Elmer

[2018-08-16 18:46] #602 closed

[2018-08-16 23:07] thinkingserious commented on #591
Hello @Giaco9,

Those are next up in the backlog :) I'm currently building from #593.

[2018-08-17 02:12] gabrielkrell commented on #544
Hey @thinkingserious, I've been fine!  Same to you; hope all are happy at Sendgrid :).  I'll take a look, but it may be a while until I get to it - lots on the backlog right now.

 - Gabe

[2018-08-17 06:17] lifez commented on #503
@thinkingserious Does this issue need to be done?

[2018-08-18 18:29] sikula opened #605 "Emails not sending when substitution field supplied"
#### Issue Summary

When the "substitution" tag is supplied, emails fail to send.

#### Steps to Reproduce

I have a function to send an email with Sendgrid, which works fine.
[code]

When I try to add a substitution either like this:
[code]

or like this
[code]
the email never gets received in my inbox.

THIS DOES WORK (note, substitution removed)
[code]

#### Technical details:

* sendgrid-pytho

[2018-08-18 23:36] #605 closed

[2018-08-21 00:06] #591 closed

[2018-08-21 00:26] thinkingserious commented on #544
Thanks!

I hope a full backlog means that you are having a great time :)

[2018-08-21 00:31] thinkingserious commented on #503
Hi @lifez,

Sorry, I should have closed this. I will be incorporating this change in the [next version](https://github.com/sendgrid/sendgrid-python/tree/v4) of this SDK.

Thanks for checking!

With Best Regards,

Elmer

[2018-08-21 00:31] #503 closed

[2018-08-21 00:48] thinkingserious commented on #605
Hello @sikula,

Please see [this release](https://github.com/sendgrid/sendgrid-python/releases/tag/v5.6.0) for the fix. Thanks!

With Best Regards,

Elmer

[2018-08-21 16:30] JamesTheTerry commented on #602
Hey just wanted to update this, the issue was fixed but there is still some user action that needs to be taken.

You need to triple curly brace your subject variable for it to parse as text instead of HTML so use something like `{{{subject}}}`

Thank you Chewie at Sendgrid support for letting me know about this.

[2018-08-21 16:32] af4ro commented on #602
Hey @JamesTheTerry, do you think you could add it to the docs real quick? So that others can benefit from this information!

Thanks a lot for your support!

[2018-08-21 17:09] JamesTheTerry commented on #602
@af4ro Probably not the most well written, but here you go: https://github.com/sendgrid/docs/pull/3878

[2018-08-22 14:44] adriancast commented on #591
Hi ! I am not being able to find the documentation to add dynamic_template_data to the mail using this package. I only found how to configure the request body to accept dynamic data, [link](https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/)

I want to use this package to create the request_body with the dynamic_template_data. Could you guys provi

[2018-08-22 14:56] leebenson commented on #591
@adriancast - does my snippet [above](https://github.com/sendgrid/sendgrid-python/issues/591#issuecomment-411730441) help?

[2018-08-22 15:02] adriancast commented on #591
Hi @leebenson ,
Your snippet helped me a lot to understand how this python package works. But I wanted to use this client in order to build the request body.

I just checked this [commit](https://github.com/sendgrid/sendgrid-python/commit/68b9eb0a85b840ddc90345ca7b096e883a395694#diff-5212d0703ea8cbd464c94213312b909f) and I found the example of how to use this new feature.

Thanks for your time ! 🎉

[2018-08-22 16:18] dishawagle opened #606 "Fillable PDF form attachment corrupted"
While I am able to send a PDF attachment,
when I try to open the attachment, it always says 'File may have been corrupted'
This is a fillable PDF form which I am trying to send.

Code:
[code]
'''
output: 202
'''
print(response.body)
'''
output:-
content: b''
content.length: 0
'''

* sendgrid-python Version: 5.3.1
* Python Version: 3.5

[2018-08-22 20:54] thinkingserious commented on #591
HI @adriancast,

You may also find updated documentation [here](https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/transational_templates.md).

Thanks!

With Best Regards,

Elmer

[2018-08-22 21:00] thinkingserious commented on #606
Hello @dishawagle,

Please send the attachment to dx@sendgrid.com so that we may try to reproduce the error.

Thanks!

With Best Regards,

Elmer

[2018-08-23 18:09] axelgrowth opened #607 "Global Unsubscribe links not working with the latest package"
Hi there,

After modifying our code to use the dynamic templates, I cannot make the unsubscribe link work at all within transactional template. Moreover, half of the documentation seem to be broken.

From the documentation There are 3 ways to add a Global unsubscribe:
1) Add a footer via Settings>Tracking> Unsubscribe (this one works but looks like sh*t)
2) Add a Unsubscribe module via the Design

[2018-08-24 13:41] dishawagle commented on #606
@thinkingserious  [](url)
[Aetna_Claim_Form_Template.pdf](https://github.com/sendgrid/sendgrid-python/files/2318583/Aetna_Claim_Form_Template.pdf)

This is the pdf form I am trying to attach.

Thanks
Disha

[2018-08-24 16:10] DrMeloMoney commented on #607
Hi @axelgrowth

When adding a Global Unsubscribe link there are two options.

1) You can turn on Subscription Tracking, which you mentioned. If you want to format the Global Unsubscribe link in the content of the email, you'll want to create a Replacement tag in the Settings > Tracking > Subscription Tracking page.

2) If you are using Group Unsubscribes and want to have Global Unsubscribe as well

[2018-08-24 16:19] axelgrowth commented on #607
@Zach Thanks that works.

You should put that in the documentation somewhere.

[2018-08-27 21:53] jgabrielfreitas commented on #340
Hi @thinkingserious , your example link is returning 404.
could you upload it again? maybe a gist

[2018-08-28 21:34] thinkingserious commented on #606
Hello @dishawagle,

I was not able to reproduce the issue. Using your attachment, I was able to receive it without corruption. Here is the code I used:

[code]

Please take a look and compare with your solution.

I am running Python 3.6.3

[2018-08-28 22:41] thinkingserious commented on #607
Re-opening so that we can get some docs added in this repo.

[2018-08-28 23:29] thinkingserious commented on #340
Thanks for the heads up @jgabrielfreitas, I have fixed the link.

[2018-08-29 08:25] bishnusyangja opened #608 "Custom_args not working in V3 but unique_args sends email but not in event_callback."
#### Issue Summary

I have used sendgrid v3 api for sending emails. As mentioned in documentation of V3 API I use custom_args to get my params in event callback but it shows 400 bad request, while I use unique_args, the email was sent but the event callback does not send my unique_args params.

#### Steps to Reproduce

1. data = {"content": [{"value": "dfafds", "type": "text/plain"}], "attachments

[2018-08-29 14:35] NikEyX opened #609 "python_http_client.exceptions.ForbiddenError"
I am getting a **python_http_client.exceptions.ForbiddenError** doing even a simple request such as follows. This is taken directly from the examples.

[code]

It used to work for months until yesterday! Sending transactional emails still works and there are no problems with our billing.

Any idea what could cause this?

[2018-08-29 17:57] thinkingserious commented on #608
Hello @bishnusyangja,

Could you please let me know what the 400 bad request [error message](https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/error_handling.md) is?

Thanks!

With Best Regards,

Elmer

[2018-08-29 18:07] thinkingserious commented on #609
Hello @NikEyX,

This looks to be a permissions issue with your API Key. I suggest you reach out to our [support team](https://support.sendgrid.com) so that they look into your account.

With Best Regards,

Elmer

[2018-08-29 18:07] #609 closed

[2018-08-30 04:54] bishnusyangja commented on #608
No more information is given, while sendgrid sends bad-requests. I am amazed,
"HTTP Error 400: Bad Request" this exception is raised while I am trying to send email with that data, you can check it by just removing attachments field from data I have posted in issue.

[2018-09-01 14:42] thinkingserious commented on #608
Hello @bishnusyangja,

What is the result of `print(response.body)`?

Also, please try:

`"email_msg_id": "106"`

Thanks!

With Best Regards,

Elmer

[2018-09-03 05:25] #608 closed, assigned to nobody

[2018-09-13 16:10] cmccandless commented on #356
This was resolved in #443

[2018-09-15 01:56] thinkingserious commented on #229
Thanks for sharing the solution @aardvark82!

[2018-09-18 21:33] #356 closed

[2018-09-25 12:36] hundredrab commented on #315
If it's still worth it, I would like to have a go at it.

[2018-09-25 20:25] noqcks opened #610 "README: Example link not working"
https://github.com/sendgrid/sendgrid-python/blame/master/README.md#L108

[2018-09-29 04:51] ytldsimage opened #612 "if 5 addresses in to/cc/bcc items, each person get 5 emails"
#### Issue Summary

no error code, and emails were successfully delivered.

however, if there're 5 email addresses together in to/cc/bcc fields, each person received 5 duplicate emails.

#### Steps to Reproduce

1. This is the code

    def Email_st_by_Sendgrid(self,api_key, from_email, to_list, cc_list=[], bcc_list=[], subject='', content='', attachments=[]):

        import sendgrid
        impo

[2018-09-29 12:47] ytldsimage commented on #612
Any suggestions?

[2018-09-29 14:42] #592 closed

[2018-09-29 14:59] thinkingserious commented on #612
Hi @ytldsimage,

Could you please provide your [request body](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#request-body)?

Thanks!

With Best Regards,

Elmer

[2018-09-30 03:31] ytldsimage commented on #612
def Email_st_by_Sendgrid(self,api_key, from_email, to_list, cc_list=[], bcc_list=[], subject='', content='', attachments=[]):

 import sendgrid
 import base64

 from sendgrid.helpers.mail import Email, Mail, Content, Attachment, Personalization

 sg = sendgrid.SendGridAPIClient(apikey=api_key)

 mail = Mail()
 mail.from_email = Email(from_email)
 mail.subject = subject
 personalization = Personali

[2018-09-30 04:46] ytldsimage commented on #612
Even only one attachment, the problems reoccur.

0 attachment, 0 problems.

file='a.jpg'

            if 1:
                data = open(file, "rb").read()

                encoded = base64.b64encode(data).decode()

                attachment = Attachment()

                attachment.content = encoded

                path, fName = Dir_File_Operation.get_new_file_Path_name(file)

                p

[2018-09-30 04:50] ytldsimage commented on #612
The following code is officially suggested：

        attachment = Attachment()
        attachment.content = "TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gQ3JhcyBwdW12"
        attachment.type = "application/pdf"
        attachment.filename = "balance_001.pdf"
        attachment.disposition = "attachment"
        attachment.content_id = "Balance Sheet"
        mail.ad

[2018-09-30 05:14] ytldsimage commented on #612
The following code is officially suggested：

file_path = "file_path.pdf"
with open(file_path,'rb') as f:
    data = f.read()
    f.close()
encoded = base64.b64encode(data).decode()

attachment = Attachment()
attachment.content = encoded
attachment.type = "application/pdf"
attachment.filename = "test.pdf"
attachment.disposition = "attachment"
attachment.content_id = "Example Content ID"

mail = Mai

[2018-09-30 05:46] ytldsimage commented on #612
It seems as long as the attachment.content=base64.b64encode(data).decode(), this problem will reoccur.

[2018-09-30 06:46] ytldsimage commented on #612
Hi  Elmer,

I'm sorry but I hadn't used the requests library,  and I finally locate the problem is related to this ：
attachment.content=base64.b64encode(data).decode()

if we set attachment.content='ssfsfsfsdfsd', nothing will happen.

[2018-09-30 14:02] gothraven commented on #592
The API does NOT fail when the request is wrong, i found the issue days ago, which was a wrong datetime in my request, but the API did not say anything about that, it only accepted and said that everything is fine. I somehow found out that it created new recipients but kept them hidden somehow, and i think it can be a security issue for you guys.

[2018-10-01 04:16] Bharat123rox opened #614 "The last link in About section is an email and not a list of developers"
#### Issue Summary

Make it clear that the last link in the About section in README.md is a redirect to an email and not to any members page or developer team page

#### Steps to Reproduce

1. Click on the link
2. It opens up an email client saying mailto: dx@sendgrid.com

I have made a PR #613 to fix this

[2018-10-01 14:28] N140191 opened #620 "Easy"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-10-01 14:28] N140191 commented on #620
Good Issue

[2018-10-01 15:51] #620 closed

[2018-10-01 16:32] thinkingserious commented on #612
Hi @ytldsimage,

In your code, right before you call `response = sg.client.mail.send.post(request_body=mail.get())`, can you please do: `print(mail.get())`?

Thanks!

With Best Regards,

Elmer

[2018-10-01 17:04] nityanandagohain commented on #607
Hi! I want to take this up can you provide me some more info as what to do thanks!

[2018-10-01 19:53] roopbiswas commented on #610
I would like to claim this issue.

[2018-10-01 21:01] #610 closed

[2018-10-01 23:38] thinkingserious commented on #461
It's all yours @themousepotato, thanks!

[2018-10-02 04:57] thinkingserious opened #621 "Update integration tests to utilize StopLight.io's Prism version v2.X"
#### Issue Summary

We use a mock server for integration/contract testing that is driven by our OpenAPI specification and StopLight.io's Prism service. The service is spun up utilizing the prism.sh script in this repo.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* we a

[2018-10-02 05:01] thinkingserious opened #622 "Create helper methods for the /contactdb endpoint"
#### Issue Summary

Please see `USE_CASES.md` for current example of existing helper methods.

You may find simple example code for all of the `/contactdb` endpoint functionality in the `USAGE.md` file under `CONTACTDB` in the Table of Contents. Complete interactive documentation can be found [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

Before writing any code, we suggest you revi

[2018-10-02 05:14] Projjol commented on #622
hey @thinkingserious I couldn't find a `USE_CASES.md` file but would [this](https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/README.md) be the right place to look?

[2018-10-02 15:57] thebrahminator commented on #566
Hey, I'll take this up.

[2018-10-02 18:59] meahow commented on #563
I am investigating this as part of the Hacktoberfest fun.

[2018-10-02 20:45] meahow commented on #563
It seems that this is an API/backend issue. This is what I get when sending those to cases mentioned by qaturner:
- the one with correct formarting
[code]
- the one with incorrect formarting:
[code]

So it looks like the html alternative gets incorrect newline.
I am not ure if there is anything more I can do. If so, please give me some hints

[2018-10-02 20:52] thinkingserious commented on #592
Thanks for letting me know @gothraven!

Did you inform our support team as well?

[2018-10-02 21:07] thinkingserious commented on #614
HI @Bharat123rox,

Now that I've read your explanation, I think this is a worthy PR. I will update accordingly.

[2018-10-02 23:01] gothraven commented on #592
No, I honestly forgot to do that. and it takes really long to describe the issue again 😥

[2018-10-02 23:03] thinkingserious commented on #607
Hello @nityanandagohain,

The comment by DrMeloMoney should be added to [this directory](https://github.com/sendgrid/sendgrid-python/tree/master/use_cases). Please see the existing files for examples. Thanks!

With Best Regards,

Elmer

[2018-10-03 03:33] rahulkumaran opened #623 "Upgrade versions of requirements in requirements.txt"
#### Issue Summary

Update the version numbers of the requirements in requirements.txt as currently we have versions above the current mentioned ones that are stable.

#### Steps to Reproduce

1. Check requirements.txt

It's better to stay up to date with these as it would help us avoid problems later.
I'd like to work on this.

[2018-10-03 05:42] prnvdixit commented on #614
@thinkingserious Is there anything still needs to be done in this issue? I would love to take this up in that case :smile:

[2018-10-03 06:04] themousepotato commented on #461
@thinkingserious I'll be fixing the major issue soon. I tried two fix two of the issues mentioned in the given link and refactored the code. Please let me know your opinions on https://github.com/sendgrid/sendgrid-python/pull/625.

[2018-10-03 13:20] thinkingserious opened #627 "Implement auto-deploy to package manager"
#### Issue Summary

When all tests on the master branch pass in Travis CI, we would like to auto-deploy the release to the package manager.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* when Travis CI passes all tests on the master branch we auto-deploy to the package

[2018-10-03 14:01] browniebroke commented on #627
Hi there, I can look into this, but I have a question about the second point:

Looking at the [latest version bump](https://github.com/sendgrid/sendgrid-python/commit/7438ae17406f6f25cab58f9e807576c94a785d3d), there are a couple of things happening:

- Update Changelog
- Update docker/README
- Update `sendgrid/version.py`
- Add a git tag

Then Travis detects there is a new tag, and pushes to PyPI:

[2018-10-03 19:56] dhoeric commented on #562
Hi, I would like to pick up this issue :)

[2018-10-03 21:03] meahow commented on #621
As far as I understand the topic, this is a matter of:

1. changing the install script (and dockerfiles) to get the latest 2.x prism instead of old 0.6.x
1. changing the way prism is started from `prism run` to `prism mock` or `prism validate`
1. updating `CONTRIBUTING.md`

If that's the case, then I will happily take this issue for Hacktoberfest
I have tried the prism 2.x and after some minor fix

[2018-10-04 00:40] thinkingserious commented on #566
Thank you @thebrahminator!

[2018-10-04 13:17] thinkingserious opened #632 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-04 14:41] kylearoberts commented on #592
Hi @gothraven

I have read through this issue and will likely need more details as things are not adding up for me.

In the two tests that you showed in the start the email addresses you showed that you were adding did not match with the response you got from the system:
[code]

Since these do not match with the email you were trying to add something must not be working with the Django scripts you

[2018-10-04 19:13] gothraven commented on #592
@kylearoberts well, I'm sorry, i must have copied the wrong log (100%), but I'm sure it did happened, and it had nothing to do with Django.

Problem :
[code]

Solution :
[code]

[2018-10-04 19:31] kylearoberts commented on #592
Hi @gothraven

Thanks for the additional details. So from these last details, the issue looks to be with custom fields. This is something we likely need to get a closer look into to make sure everything is functioning. Could you please create a support ticket [here](https://support.sendgrid.com)? We are going to need to look at your specific account and how you have your custom fields setup.

[2018-10-04 20:54] thinkingserious commented on #614
This one has been completed @prnvdixit, but there are still [many more opportunities](https://sendgrid.com/blog/hacktoberfest-2018-has-arrived/) to join in on the fun :) Thanks!

[2018-10-04 20:54] #614 closed

[2018-10-04 21:02] thinkingserious commented on #461
Hi @themousepotato!

Can you please make this PR against [this branch](https://github.com/sendgrid/sendgrid-python/tree/v4)? Thanks!

With Best Regards,

Elmer

[2018-10-05 01:10] mattjegan opened #635 "Minor broken link in mail helper docs"
#### Issue Summary

The docs for the mail helper have a broken link to provided example.
https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/mail/README.md

#### Steps to Reproduce

1. Go to https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/mail/README.md
2. Notice the "example" link is broken

#### Technical details:

* sendgrid-python Version: master (

[2018-10-05 04:18] thinkingserious commented on #627
Maybe we grab the version from `sendgrid/version.py` instead.

[2018-10-05 04:19] thinkingserious commented on #627
Thanks for taking this on @browniebroke!

[2018-10-05 05:39] thinkingserious commented on #562
Thank you @dhoeric, it's all yours!

[2018-10-05 14:17] thinkingserious opened #639 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 15:50] meahow commented on #563
@kylearoberts
Just to be clear, I did not bring this issue up, I just investigated it :)

Anyway.
How I reproduced it is I ran the very simplest example for sendgrid in python.
It sends this json to the server (at least this is what I get from `sendgrid.helpers.mail.Mail.get()` ):
[code]

[2018-10-05 15:51] meahow commented on #621
I'm on it!

[2018-10-05 16:32] DrMeloMoney commented on #394
@thinkingserious I would like to take a stab at this.

[2018-10-05 16:42] ssiddhantsharma commented on #639
@thinkingserious Got it! Automating my scripts to get this done.

[2018-10-05 17:40] kylearoberts commented on #563
@meahow

Sorry for my confusion and thank you for your help with the issue.

@qaturner

Are you still able to create this issue? If so please let us know with details of how so we can replicate the issue and get it to our engineers.

[2018-10-06 00:02] kylesalk commented on #389
I can probably help out on this one. I may send a few messages to clarify the goals of this, if that is alright.

[2018-10-06 14:20] thinkingserious opened #644 "Update documenation for retrieving a list of all templates (dynamic & legacy)"
#### Issue Summary

Please update the `USAGE.md` and corresponding `\example` with the call to list all templates.

This is the API call required: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic

#### Acceptance Criteria

* The Usage.md file demonstrates how to use this API call to retrieve all templates: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic
* T

[2018-10-06 14:52] thinkingserious opened #645 "Throw an exception if a template ID does not exist in your request body"
#### Issue Summary

You will not receive an error from the API is you send an email with the wrong template. Instead you will get a "Not Delivered" notice in your email activity feed. We want to make that experience better by throwing an exception in the code instead.

This issue is inspired by [this](https://github.com/sendgrid/sendgrid-go/issues/255).

#### Acceptance Criteria

* Use [the API](h

[2018-10-06 15:49] rajibmitra commented on #645
I want to take this up.

[2018-10-06 18:45] arshadkazmi42 opened #646 "Fix broken link in TROUBLESHOOTING.md"
#### Issue Summary

Following links are broken in [TROUBLESHOOTING.md](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#testing-v3-mailsend-calls-directly)
- v3 send email example link is broken

[2018-10-06 18:45] arshadkazmi42 commented on #646
Working on this.

[2018-10-06 21:55] shubhambhattar commented on #578
I would like to try to solve this. Any idea where should I start (which files should I focus on)?

[2018-10-06 22:18] cmccandless commented on #578
This was raised in #618

[2018-10-07 05:55] vipulgupta2048 commented on #644
Hey @thinkingserious, I am willing to work on this. Looks good enough.
Let me see if I get it right,
We have to update the [1](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md#get-templates) and [2](https://github.com/sendgrid/sendgrid-python/blob/master/examples/templates/templates.py) files with examples to retrieve a list of all templates. Right?
The way to retrieve all template

[2018-10-07 06:27] vipulgupta2048 commented on #566
@thebrahminator Are you still working on this?

[2018-10-07 06:47] vipulgupta2048 commented on #632
Hello @thinkingserious, reading the issue made by you makes me think we need a solution to this kind https://github.com/sendgrid/python-http-client/pull/66 and could be implemented quite easily with the travis builds. I would love to write the code for it.

[2018-10-07 08:40] shubhambhattar commented on #578
@cmccandless So the issue is resolved?

[2018-10-07 16:12] thinkingserious opened #649 "Create a Dockerized event webhook consumer"
#### Issue Summary

SendGrid has an [Event Webhook](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html) which posts events related to your email activity to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and save) their event webhooks.

#### Acceptance Criteria

* A folder which contains a Do

[2018-10-07 16:18] thinkingserious opened #650 "Create a Dockerized email inbound parse webhook consumer"
#### Issue Summary

SendGrid has an [Email Inbound Parse Webhook](https://sendgrid.com/docs/API_Reference/Parse_Webhook/inbound_email.html) which posts data from a specified incoming email address to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and complete some action) their inbound parse webhooks.

###

[2018-10-07 20:37] Taiters commented on #649
I'd be interested in picking this up, however I'd like to confirm what "save" means in this context? Would outputting the parsed events to a web page be sufficient? Or should this plug into a separate database which the customer could be running to persist the events?

[2018-10-07 21:00] meahow commented on #621
I've just created PR #653 for this, but there are some issues with prism 2.x:
- 30% slower
- validate (prism2.x's new command for --no-mock) does not work properly with sendgrid
  - I got 502 bad gateway on a basic sendgrid example - `POST /v3/mail/send` (I don't know a way to debug it in sendgrid and wireshark shows only an encrypted stream)
  - it does work for basic GET and for petstore swagger

[2018-10-07 23:45] thinkingserious commented on #649
Hello @Taiters,

I think either of your proposed solutions would be sufficient. The goal is to get someone up and running ASAP to start experimenting or use this as a reference implementation for their own custom solution.

Thanks for taking this on!

With Best Regards,

Elmer

[2018-10-07 23:47] thinkingserious commented on #649
Note that we do have much of this code ready, hopefully that will help: https://github.com/sendgrid/sendgrid-python/tree/master/sendgrid/helpers/inbound

[2018-10-08 05:40] Projjol commented on #622
Hey @thinkingserious, yes, I would like to definitely take on this issue. Thanks! 😃

[2018-10-08 09:06] Taiters commented on #649
Perfect, sounds good. I can start on this this afternoon

[2018-10-08 12:28] cmccandless commented on #578
@shubhambhattar yes, that is what I intended to say. Apologies for the typo.

[2018-10-08 12:30] cmccandless commented on #578
Note: it was requested that #618 be targeted at the v4 branch instead of the master branch, so the issue keywords did not close this issue. It is probable that when v4 is merged with master, this issue will automatically be closed.

[2018-10-08 13:10] mosesmeirelles opened #657 "Update CONTRIBUTING.md to add Python Version 3.6"
#### Issue Summary

As contributor following listed steps on CONTRIBUTING.md, documentation doesn't bring the Python Version 3.6 on Initial Setup instructions to Test project. This version is declared on Tox commands, which causes an error when executed following initial setup steps.

#### Steps to Reproduce

1. Follow steps described in [Initial Setup](https://github.com/sendgrid/sendgrid-python/

[2018-10-08 15:08] phouri opened #659 "Get back template html after processing for localhost development"
#### Issue Summary

We are considering moving to templates for our development - so far we have been using django emails via sendgrid, and what we did when we are local we'd just print the html result of the email, allowing us to easily test stuff.

With template api - it's not possible to get back the html when doing sand - even when in sandbox mode, I'd expect sandbox results to return the post

[2018-10-08 16:04] aroach commented on #649
@Taiters another idea is to just dump the data to a file in a mounted volume?

[2018-10-08 17:34] Deborah-Digges commented on #645
I can take this up if nobody is working on it currently

[2018-10-08 18:55] shubhambhattar commented on #578
@cmccandless Okay. Thanks for the clarification.

[2018-10-08 20:02] Taiters commented on #649
Hey, I've opened a WIP PR with a basic webhook consumer. It currently just prints the events to stdout and writes them as json lines to a file.

Let me know if there's a specific directory you'd like this in as it's currently just under `/events` in the repo.

[2018-10-08 20:06] RamolaWeb commented on #553
@thinkingserious I will like to work on this

[2018-10-08 20:29] thinkingserious opened #661 "Document the difference of using three brackets vs two brackets with a template and throw or log an error when used improperly"
#### Issue Summary

Our templates use the handlebars.js syntax as documented [here](https://sendgrid.com/docs/ui/sending-email/using-handlebars/). When including the characters ', " or & in a subject line replacement you need to use three brackets vs two ( {{{ content }}} vs {{ content }} ).

#### Acceptance Criteria

* Documentation of this functionality in the use cases section (transactional te

[2018-10-08 20:46] thinkingserious opened #662 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-08 23:41] thinkingserious commented on #553
Thank you @RamolaWeb!

[2018-10-09 02:02] deadpyxel commented on #662
So the idea is to create this file with the given specifications? If so, could you assign this to me?

[2018-10-09 13:01] parthsharma2 commented on #661
I would like to work on this issue.

[2018-10-09 13:05] Warlord77 commented on #544
Any one working on this ? @gabrielkrell can you just guide me how to fix this ?

[2018-10-09 18:33] cmccandless commented on #578
Also, possible duplicate of #291

[2018-10-10 00:58] thinkingserious opened #667 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-10 12:50] parthsharma2 commented on #661
How do i go about making a test case for this?
How do i simulate `{{ subject }}` and `{{{ subject }}}` without using a transactional template as each transactional template has a unique id and is associated with a api key (I think).

[2018-10-10 13:39] thinkingserious commented on #661
@parthsharma2,

The test should show that when your code detects the characters ', " or & in the subject line, the payload that is generated used {{{ vs {{.

All of the new transactional templates are prefixed with d-

Does that help?

With Best Regards,

Elmer

[2018-10-10 22:20] jaykay12 commented on #360
@thinkingserious Kindly have a look at https://demo-sendgrid.azurewebsites.net/

I have started writing documentation of the deployment and will shortly make a PR.

[2018-10-11 10:50] PyroclasticMayhem opened #671 "Attribution links in CoC is misformated"
#### Issue Summary

The attribution links in the code of conduct is not formatted correctly causing the link for Open Source Initiative General Code of Conduct and Apache Code of Conduct to appear on the same line.

[2018-10-11 13:39] nathanmkaya commented on #667
Hey, I'm thinking of just creating a bash script that generates the list of PR's between the current and previous release(tag) and appends the result to the top of CHANGELOG.md then pushes the changes back to Github if the changes were successfully made to the CHANGELOG.md file. It will be a bash script with the different functions to do the two actions. Pushing changes back to Github will require

[2018-10-11 21:12] #635 closed

[2018-10-12 17:32] thinkingserious commented on #394
Thank you @DrMeloMoney, it's all yours!

[2018-10-12 17:33] thinkingserious commented on #639
Thank you @ssiddhantsharma!

[2018-10-13 03:54] thinkingserious opened #675 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-13 13:09] parthsharma2 commented on #661
I'm sorry but I don't think so I'll be able to fix this issue in time.

[2018-10-13 14:46] 3lnc commented on #645
Tbh, I'm against the idea of preemptive calls to API for template checks. We can provide simple api to do this manually, but checks while sending is really weird.

[2018-10-13 19:06] jamietanna commented on #623
@thinkingserious I think this can probably be closed now?

[2018-10-14 15:29] rahulkumaran opened #680 "Can zip files be sent as attachments?"
#### Issue Summary
Is it possible to send zip files as attachments using the Sendgrid API in python3?
If yes, then how do we do it? Can a small piece of code be given?

#### Technical details
* Python Version: 3.6

[2018-10-16 12:13] marchofreason commented on #552
How did you guys do this? I'm having the same problem and it's nowhere in the documentation

[2018-10-16 18:02] tulikavijay commented on #566
No one seems to be working on this ,so i will be submitting a PR for review shortly!

[2018-10-17 16:42] crweiner opened #686 "Change "Whitelabel" verbage to "Domain Authentication""
#### Issue Summary

According to the [Docs](https://github.com/sendgrid/docs/blob/develop/content/docs/glossary/whitelabel.md), SendGrid wishes to move away from the term "Whitelabel" and replace it with other terms, such as "domain authentication", "link branding" and "reverse DNS".

#### Details:
 In order to keep this verbiage consistent, this repo needs to update its terms and replace "Whitela

[2018-10-18 19:43] noqcks opened #691 "Python 3.7 Support?"
Is Python 3.7 supported by this library? (v5.6.0)

If not, is there any ETA on when support will be included?

[2018-10-19 06:58] thinkingserious opened #693 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/sendgrid-python/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the document

[2018-10-19 16:44] dash34 commented on #693
I would like to work on this.

[2018-10-19 20:39] hugovk commented on #691
I don't know but I can tell you:

I created PR https://github.com/sendgrid/sendgrid-python/pull/615 to add Python 3.7 to the `master` branch (which has version 5.6.0):

https://github.com/sendgrid/sendgrid-python/blob/0b683169b08d3a7c204107cd333be33053297e74/sendgrid/version.py#L1

But I was asked to move it instead to the `v4` branch (which has version 5.4.1):

https://github.com/sendgrid/sendgri

[2018-10-20 07:02] vkmrishad opened #696 "CLA badge showing "not yet signed""
_Originally posted by @SendGridDX in https://github.com/sendgrid/sendgrid-python/pull/673#issuecomment-428948282_

[2018-10-20 17:20] ulshell commented on #662
Can you please assign me

[2018-10-20 17:44] jaykay12 commented on #662
@ulshell this one's already resolved by #666 .

[2018-10-20 23:43] thinkingserious opened #700 "Error Exception Handling"
#### Issue Summary

To improve the developer experience, we would like to pass back a [summary of the error received](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) and a link to the appropriate place [in the documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) to help with troubleshooting.

#### Acceptance Criteria

* When an error is thrown du

[2018-10-20 23:50] thinkingserious opened #701 "Type Exception Handling for the Mail Helper"
#### Issue Summary

The appropriate types necessary for a successful `mail/send` API call is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html). We want to throw a type exception when the wrong type is provided.

#### Acceptance Criteria

* All parameters for the `mail\send` endpoint are type checked and if they fail the type check and exception is thrown with instructions on h

[2018-10-21 13:33] murabo opened #704 "don't attachment csv file ?"
attached a CSV file and sent  e-mail.

[code]

I received 400 error

[code]

[2018-10-21 20:30] michaelscof commented on #623
Is it still open?If yes i would like to take it up!

[2018-10-22 15:59] #696 closed

[2018-10-22 21:15] #686 closed

[2018-10-25 04:40] kotharitrisha commented on #333
Same issue!

Runs ok on a virtualenv fwiw

Installing collected packages: python-http-client, sendgrid
  Running setup.py install for python-http-client ... done
Successfully installed python-http-client-3.1.0 sendgrid-5.6.0
➜ ✗ pip freeze | grep sendgrid
sendgrid==5.6.0
➜   git:(master) ✗ python3
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call l

[2018-10-25 09:28] Taiters commented on #700
Hey, I'd be interested in picking this up, however I've got a couple of questions.

* Is this to be based off of the `v4` branch? The current `master` branch does not contain a `send` method in the sendgrid client, so we can't really add this behaviour without modifying the `python_http_client` package. However I see `v4` has a `send` method, so this behaviour could be added in there
* When you sa

[2018-10-27 15:11] runz0rd commented on #701
I noticed you have well defined docstrings in the helper classes, which can be used to type check. Would that kind of an implementation work for you?

[2018-10-27 16:45] ItsMeWithTheFace commented on #650
Hey @thinkingserious I'd like to take this up if possible

[2018-10-27 18:34] runz0rd commented on #701
Parse the docstring, get the types and check against values at runtime.

[2018-10-27 18:43] 42B commented on #701
Why would you parse the docstring at runtime? How often do these types really change?

[2018-10-27 18:56] runz0rd commented on #701
Perhaps I misunderstood the requirements here.
Im not expecting them to change. Parsing the docstring for the types is an alternative to having to write each of them again (when type checking the mail helper arguments).

[2018-10-29 18:57] Rishabh04-02 opened #717 "Updation in prerequisites"
#### Issue Summary

On the website its mentioned that **Send up to 40,000 emails for 30 days, then send 100 emails/day free forever but it has not been mentioned in the README.**

[2018-10-30 18:33] thinkingserious opened #721 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 19:29] #566 closed

[2018-10-30 19:31] #639 closed

[2018-10-30 20:05] mptap commented on #721
@thinkingserious Have raised PR for this: https://github.com/sendgrid/sendgrid-python/pull/724

[2018-10-31 02:10] #671 closed

[2018-11-01 02:35] Sarthakagarwal22 commented on #644
@thinkingserious i have opened a new PR, with the changes rebased against v4, please check

[2018-11-02 16:39] #721 closed

[2018-11-11 19:29] bridger opened #735 "Updating footer Sender_Name, Sender_Address, etc for dynamic template"
#### Issue Summary

I'm using a dynamic template created in the visual editor for a transactional email. I used the standard Footer module, which includes placeholders for [Sender_Name], [Sender_Address], etc. I can't figure out how to fill those placeholders with my information.

#### Steps to Reproduce

I'm using the following to send the email:

[code]

I've also tried using "Sender_Name" in th

[2018-11-14 11:03] dsjh opened #736 "RE: Inline Embedding Images Not Working"
`data = {
  "personalizations": [
    {
      "to": [
        {
          "email": "no-reply@example.com"
        }
      ],
      "subject": "Sending with SendGrid is Fun"
    }
  ],
  "from": {
    "email": "no-reply@example.com"
  },
    "attachments": [
                {
                    "content": "R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7",
                    "content_id":

[2018-11-16 14:14] dsjh commented on #736
attachment type needed setting to "image/gif" as its actually a mime type.

[2018-11-16 14:14] #736 closed

[2018-11-18 15:10] thinkingserious commented on #659
Hello @phouri,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-18 15:10] #659 closed

[2018-11-18 15:12] thinkingserious commented on #680
Hello @rahulkumaran,

[Here](https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/attachment.md) is an example of how to send an attachment using this SDK.

In your case you would use type `application/zip`.

With Best Regards,

Elmer

[2018-11-18 15:14] thinkingserious commented on #691
Hello @noqcks,

We are working on a new v4 release of this SDK which will specifically included support for 3.7. That said, @hugovk was able to show 3.7 support in this particular library. Please let us know if you run into any trouble.

With Best Regards,

Elmer

[2018-11-18 15:17] thinkingserious commented on #704
Hello @murabo,

Please check the value of `email` that you are passing into this function. Also, it maybe helpful to [examine the request body](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#request-body).

With Best Regards,

Elmer

[2018-11-18 15:18] #717 closed

[2018-11-18 15:19] thinkingserious commented on #735
Hello @bridger,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-27 04:11] AlexandraPosoldova opened #737 "Documentation on Transactional Templates missing"
#### Issue Summary

Use cases -> Transactional Templates leads to 404 missing page.

I briefly looked through opened and closed issues on Transactional templates but it is unclear to me how to use them.

[2018-11-27 15:40] mcintyre94 commented on #552
@marchofreason See this one: https://github.com/sendgrid/sendgrid-python/blob/master/examples/helpers/mail_example.py#L150

When this link dies again, it's in this repo examples/helpers/mail_example.py, `build_kitchen_sink` method:

`mail.from_email = Email("test@example.com", "Example User")`

[2018-11-27 21:14] thinkingserious commented on #737
Hello @AlexandraPosoldova,

I believe [this](https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/transactional_templates.md) is the documentation you need. Please let me know if you run into any trouble.

With Best Regards,

Elmer

[2018-11-28 07:53] swapnilt opened #738 "Bcc, cc and multiple to fields in Personalization don't work"
#### Issue Summary

I'm using sendgrid-python version 5.6.0. I'm able to send emails as long as there are only the following fields in the email
- from
- to
- subject
- content/body
Apart from this any extra field if added to personalization object, I get a HTTP 400 BadRequest. Moreover, the response body is empty so there is no specific error message. I'm using mail helper function but you can cl

[2018-11-29 00:52] thinkingserious commented on #738
Hello @swapnilt,

Could you please try to determine the error message, [like so](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#error)?

Also, could you please supply the source code you used to generate the `bcc` and `cc` examples?

Thank you!

With Best Regards,

Elmer

[2018-11-29 05:32] swapnilt commented on #738
Hi @thinkingserious ,

Here is a simple script which reproduces the error
[code]
If you replace the SENDGRID_API_KEY string value with your API Key, the script can be run as-is without any modification to reproduce the error. Only dependency is Python 3.7.0 and sendgrid-python 5.6.0. After running the script, I can see the below error message -
[code]
As per the error message, the `to` field is mi

[2018-11-30 04:42] bridger commented on #735
For future people who might have the same issue I was able to workaround it.

1. Download/export the template as html
2. Replace the `[Sender_Name]` with `{{Sender_Name}}`, etc.
3. Re-import the template

Now you can use the templates but they use the correct replacement tags. You can fill in the `Sender_Name` field with the `dynamic_template_data` parameters for sending mail.

[2018-11-30 15:50] haivp3010 commented on #737
There's a typo in the [README](https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/README.md), in which `transational_templates.md` should be `transactional_templates.md`

[2018-12-02 22:49] #737 closed

[2018-12-04 11:10] swapnilt commented on #738
Hi @thinkingserious is there any update on this?

[2018-12-07 23:54] thinkingserious commented on #544
I am about to look into this one, but before I do, are you already working on this @Warlord77?

[2018-12-08 12:42] cipy commented on #738
OK,

the curl example from @thinkingserious original [link](
https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#error)

`curl --request POST --url https://api.sendgrid.com/v3/mail/send --header "Authorization: Bearer $SENDGRID_API_KEY" --header 'Content-Type: application/json' --data @json.ok | python -m json.tool`

gives one hint:

    "errors": [{
            "field": "pe

[2018-12-10 21:13] kylearoberts commented on #738
@swapnilt

Looking at your script that produces the issue it looks like you added the TO address outside of the personalization block. This looks like it resulted in two personalization blocks. One with a TO and one with a BCC. To get things working you need the personalization block to have the TO and BCC in one personalization block. I think what you are looking for is something like this:

[cod

[2018-12-11 18:46] swapnilt commented on #738
@kylearoberts I've taken a lot of time to verify this issue and explain it in as much detail as possible. Request you to please go through everything I've posted. Please see the output yourself by running the script I've posted. Kindly verify that the suggestion which you've given actually works by making those modifications in the script. I've posted the output of the script too and you can clear

[2018-12-11 21:07] kylearoberts commented on #738
@swapnilt

Sorry for not being clearer in my response. I do want to say that you did a great job of explaining and provided some great information. I have two examples for you below, one is a modification of your code and the other is an example I created. These examples have been tested and shown to be working as expected.

Your code modified:

[code]

My code example:

[code]

To improve our lib

[2018-12-12 02:21] peckandrew opened #742 "after reboot HTTP Error 401: Unauthorized"
running the example script but between reboots it kicks back a HTTP Error 401: Unauthorized until I reset the api key with a new one
here is a screenshot of the error
![image](https://user-images.githubusercontent.com/45343168/49842726-acba3a00-fd8a-11e8-8c08-e33f4e86daf1.png)

Thanks

[2018-12-13 22:06] davidtavarez commented on #333
SAME HERE!!!!

[2018-12-17 14:22] pavs94 commented on #591
@thinkingserious The new documentation link gives 404

[2018-12-20 18:08] sr9yar commented on #561
OMG, I just quickly copy-pasted this example to test if my set-up works, then I spent 40 minutes trying to understand what's wrong with my account .... :(
gotta call it today

[2018-12-20 19:41] MichaelGuardian commented on #542
@ufo911 It's been a while and I'm sure there is a way better solution but it was something like this:

`attachment.content = str(encoded)[[2:-1]]`

[2018-12-20 22:23] thinkingserious commented on #742
Hello @peckandrew,

It sounds like your environment variable is getting reset when you reboot the server. Can you check the value of your API key environment variable after reboot to see if it's still set?

With Best Regards,

Elmer

[2018-12-22 01:38] adrianchifor commented on #742
I'm getting the same, my service is getting random intermittent Unauthorized responses.

[2018-12-24 19:46] kevin-brown commented on #691
The tests pass on the master branch (see https://github.com/sendgrid/sendgrid-python/pull/744), so I think it can be said that the library does in fact support Python 3.7.

[2018-12-25 21:31] adamatan opened #745 "Broken link (MD filename typo)"
#### Issue Summary

Broken link.

#### Steps to Reproduce

Open https://github.com/sendgrid/sendgrid-python/tree/master/use_cases and hit the `Transactional Templates` link, third from the bottom.

#### Technical details:

Caused by a typo. PR #746 submitted.

[2018-12-26 18:34] billybabis opened #747 "Email format not rendering."
#### Issue Summary

When I try to send an email with the sendgrid api, the format of the email is not rendering properly (see photo)

![image](https://user-images.githubusercontent.com/24499054/50453889-f15cde00-0911-11e9-9b8f-0a1a8f83f3de.png)

I've set up a server that receives an email from Sendgrid, modifies the content of the email, and then sends the email to a different recipient using the

[2018-12-26 21:41] vlad-tokarev commented on #591
@pavs94 I've found out that actual docs could be found here https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/transactional_templates.md

[2018-12-28 10:24] Priyal-Trivedi opened #748 "After using sendgrid in django project, Resource not available error received"
We have used Sendgrid for transactional emailers in our code base and following error is received since the time it has been merged on production server.

 Error: Err 11  Resource temporarily unavailable
<img width="606" alt="screenshot 2018-12-28 at 3 48 04 pm" src="https://user-images.githubusercontent.com/8300509/50512582-cf519000-0ab8-11e9-907d-8a35be5608dc.png">

The error mail were received

[2018-12-28 16:08] rossdargan commented on #602
This caught me out - thanks for adding the solution.

[2019-01-03 01:55] msargean opened #749 "Transactional Templates not populating with dynamic variables"
#### Issue Summary

Transactional Templates not populating with dynamic variables. The following code works except the dynamic variables aren't added to the email. Can someone please advise.

#### Steps to Reproduce

from sendgrid.helpers.mail import Email, Content, Substitution, Mail, Personalization, CustomArg
import sendgrid

def testing():

    sg = sendgrid.SendGridAPIClient(apikey=SENDGRID_A

[2019-01-03 03:18] #749 closed

[2019-01-03 03:19] msargean commented on #749
Issue was the version of the sendgrid client lib

[2019-01-03 19:30] thinkingserious commented on #745
Hi @adamatan,

Please rebase against the `v4` branch and I'll get this merged. Thanks!

With Best Regards,

Elmer

[2019-01-03 19:31] thinkingserious commented on #747
Hello @billybabis,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-01-03 19:31] #747 closed

[2019-01-03 19:32] thinkingserious commented on #748
Hello @Priyal-Trivedi,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-01-03 19:32] #748 closed

[2019-01-03 22:18] billybabis commented on #747
Oh No!  Appreciate the response Elmer but I was redirected to you from the
support team (Alexandru) weeks ago ( I cc'd those email addresses). I've
been awaiting a response from someone for weeks and would really appreciate
some assistance. This is getting a bit crazy now.

If you have some time tomorrow for a phone call I can do that. Or, feel
free to just connect me with the right person to help

[2019-01-04 22:58] #691 closed

[2019-01-04 22:59] thinkingserious commented on #742
@peckandrew, @adrianchifor,

Are you still experiencing this issue?

[2019-01-04 23:05] adrianchifor commented on #742
Nope, last occurrence was 2 weeks ago.

[2019-01-07 19:07] billybabis opened #751 "Email format not rendering properly"
#### Issue Summary

When I try to send an email with the sendgrid api, the format of the email is not rendering properly (see photo). I've contacted support and they told me to reach out to the dev's and Elmer just told me to reach out to support! It's been about 3 weeks now and I'd love some help if anyone can throw me a bone.

![](https://user-images.githubusercontent.com/24499054/50453889-f15cd

[2019-01-08 07:42] gitspokeefe commented on #229
@aardvark82

[2019-01-08 07:45] gitspokeefe commented on #229
@aardvark82 @thinkingserious
- Running `/Applications/Python\ 3.7/Install\ Certificates.command` solves this problem on my localhost environment, but it does not solve the problem on Ubuntu 16.04.

[2019-01-10 18:19] swapnilt commented on #738
@kylearoberts Thank you so much for giving the right solution. I can confirm that my examples are now working.

[2019-01-10 18:19] #738 closed

[2019-01-13 21:37] martinlombana opened #752 "Sending HTML doesnt' work"
#### Issue Summary

Sending HTML doesn't work.

Sending plain TXT works.

(Threre are no other python or django errors)

#### Steps to Reproduce

with Django, (which is not relevant, in this case):

`

        class EmailSendView(View):
		sg = sendgrid.SendGridAPIClient(apikey='********')
		from_email = Email("test@test.com")
		to_email = Email("test@test.com"")
		subject = "Test examples" + str(t

[2019-01-17 15:04] GIT-STATA commented on #225
I am still having exactly the same issues!
I am new to SendGrid! Do you have a working example @carolinapeisch? That would be so wonderful!
A lot of links are broken here to follow the conversations!
Thanks so much!
Best wishes!

[2019-01-17 20:46] thinkingserious commented on #751
Hello @billybabis,

Could you please share the html and the source code?

With Best Regards,

Elmer

[2019-01-17 20:47] thinkingserious commented on #752
Hello @martinlombana,

Can you please try setting `mail_txt` before `mail_html`? Thanks!

With Best Regards,

Elmer

[2019-01-17 21:00] martinlombana commented on #752
I did that as well.

No luck.

I received some of the emails 1 day later. Very weird.

You mean this way, right?

[code]

[2019-01-17 21:06] martinlombana commented on #752
It seems to work now. Weird that that is not documented :S.

Thanks anyway!

[2019-01-24 07:34] gurmukhspider opened #753 "BCC return 400 bad request"
#### Bcc return 400 bad request

when i added the email in bcc method it return 400 bad request error.
#### Here is my snippet:

sg = sendgrid.SendGridAPIClient(apikey=SENDGRID_API_KEY)
  from_email = Email(self.from_address)
        to_list = Personalization()
        attachments = []
        for email in emails:
            self.email = email
            to_list.add_to(Email(email))

 this code

[2019-01-24 19:54] thinkingserious commented on #753
Hi @gurmukhspider,

Can you please share the [request body](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#viewing-the-request-body)? Thanks!

With Best Regards,

Elmer

[2019-01-24 21:43] #662 closed

[2019-01-24 21:49] thinkingserious commented on #742
@peckandrew,

Are you still experiencing this issue?

Thanks!

Elmer

[2019-01-24 21:51] thinkingserious commented on #752
Thanks for following up @martinlombana!

In the upcoming v4 of this SDK, we will ensure that the correct ordering happens behind the scenes.

With Best Regards,

Elmer

[2019-01-24 21:51] #752 closed

[2019-01-29 06:00] gurmukhspider commented on #753
sorry for delayed reply..
Here's the output of `print(mail.get())`
[code]

[2019-01-29 18:46] thinkingserious commented on #753
Hi @gurmukhspider,

I see the issue now, thanks!

Each personalization needs to have at least one `to` field.

With Best Regards,

Elmer

[2019-01-30 05:09] gurmukhspider commented on #753
i have added "to" field but still show 400 bad request error :(

[2019-01-30 19:22] thinkingserious commented on #753
Can you please try [printing out the error message](https://github.com/sendgrid/sendgrid-python/blob/master/use_cases/error_handling.md)? Thanks!

[2019-02-06 15:16] vaibhavbhutoria opened #755 "Scheduling with send_at in sendgrid-python v5.6.0"
#### Issue Summary

Hi,
I am using sendgrid on a python2.7 django (1.8.0) project hosted on Google App Engine (standard environment).
I am not able to send emails at scheduled time using send_at.
Instead the emails get sent right away.

My send_at timestamp happens to be a unix timestamp and is of <type 'int'>.
Example: 'send_at': 1549462260,

I wrote my snippet based on the example here: https://

[2019-02-07 15:51] thinkingserious commented on #755
Hello @vaibhavbhutoria,

Is your email being scheduled up to [72 hours in advance](https://sendgrid.com/docs/API_Reference/SMTP_API/scheduling_parameters.html)?

With Best Regards,

Elmer

[2019-02-07 15:58] vaibhavbhutoria commented on #755
Hi @thinkingserious
Yes I am trying to schedule for a few minutes/hours later - well within 72 hrs.

Last night I also tested from the v3 API and am seeing emails being sent right away instead of at the scheduled time.
https://sendgrid.com/docs/API_Reference/api_v3.html

[2019-02-11 18:54] thinkingserious commented on #755
Thanks for the update @vaibhavbhutoria,

I'm going to re-classify this as a bug and try to reproduce on my end.

With Best Regards,

Elmer

[2019-02-14 05:56] iMerica opened #756 "Proposal: Overhaul exception handling in this library"
#### Issue Summary

The entire point of API client wrappers like this is to make it **easier** to communicate with REST APIs than  just using only Python Requests and reading the official REST API Docs.

Currently if I need to get basic debugging details that tell me why a request failed, I  have to know about some other lower level library called `python_http_client ` (by the way, why not just us

[2019-02-14 06:07] iMerica commented on #756
I've updated the description to include an `Expected Results` section

[2019-02-14 14:27] thinkingserious commented on #756
Hi @iMerica,

Thanks for taking the time to provide feedback!

This work is currently [underway here](https://github.com/sendgrid/sendgrid-python/issues/347), if you have a moment please have a look and let us know what you think. The WIP code is in the `v4` branch in this repo.

On using requests, one decision we made was to remove as many dependencies as possible. `python_http_client` is simply

[2019-02-14 14:27] #756 closed

[2019-02-15 19:10] dashk opened #757 "HTTP requests to SendGrid can hang as `SendGridAPIClient` does not have a timeout."
#### Issue Summary

HTTP requests to SendGrid could hang, as `SendGridAPIClient` has no time out defined in case of a network anomaly.

#### Steps to Reproduce

This is a bit difficult to reproduce, as it could be caused by a network anomaly (Not necessarily SendGrid's issue).

When a network anomaly occurred, it is possible for API calls to SendGrid to hang indefinitely.

* By default, the HTTP c

[2019-02-20 03:35] iMerica commented on #756
That issue you linked to looks pretty stale Github issue. Is there a branch or Pull Request?

[2019-02-20 04:29] iMerica commented on #187
Hi @thinkingserious,

I'm a new customer and I just want to express how disappointed I am the quality of the Sendgrid's Client SDKs, Server responses and in general – the poor decision making theme I see across your developer-facing technologies.

I decided this evening to stop tip toeing around Python SDK bugs and write my own thin API client using the `requests` library. Lo and behold even speak

[2019-02-24 17:47] thinkingserious commented on #757
Great catch! I've tagged this appropriately and the fix should happen on the [v4 branch here.](https://github.com/sendgrid/sendgrid-python/blob/v4/sendgrid/sendgrid.py#L74).

With Best Regards,

Elmer

[2019-02-28 15:23] alfredoagt opened #760 "<ModuleNotFoundError: No module named 'sendgrid'> message in python3.7"
Can't get to run you're python example code for simple email send. I get the <ModuleNotFoundError: No module named 'sendgrid'> message in my Atom interpreter. I have Python 3.7 and latest Sendgrid version. Only the terminal way runs well. Can you help? thanks!

[2019-02-28 17:17] thinkingserious commented on #760
Hello @alfredoagt,

Could you please describe step by step how to recreate your issue? I would like to try and duplicate on my end, but I'm not familiar with the Atom interpreter.

Thanks!

With Best Regards,

Elmer

[2019-02-28 17:37] alfredoagt commented on #760
Thanks for the reply.

In Atom Python 3.7, i put the simple example code from SendGrig webpage, witch is:

import sendgrid
import os
from sendgrid.helpers.mail import *

sg = sendgrid.SendGridAPIClient(apikey=os.environ.get('SENDGRID_API_KEY'))
from_email = Email("from@email.com")
to_email = Email("to@email.com")
subject = "Sengrid test"
content = Content("text/plain", "and easy to do anywhere, ev

[2019-02-28 18:03] crawfordleeds commented on #760
Are you running Atom's [script package](https://atom.io/packages/script) to run your code? If you go 3/4 of the way down on that link there's a section called "Script: Configure Script". Sounds like the Atom interpreter is not configured the same as your terminal. I'd try modifying those settings or re-installing script.

Just for reference, Atom's script works fine for me with sg but I'm using Py

[2019-02-28 19:13] alfredoagt commented on #760
Oh sorry, didn’t mention, i’m running python in atom-runner 2.7.1.

[2019-03-01 00:49] crawfordleeds commented on #760
Hm, I'm not too familiar with atom-runner. It sounds like the issue is with the PYTHONPATH used by Atom runner but I'm not sure why that would be different in atom-runner than a terminal unless you're using a virtual env. I took a look at the [docs](https://atom.io/packages/atom-runner), any chance Atom runner is trying to run a python2.7 interpreter instead of 3.7? There's some info on changing t

[2019-03-01 01:15] alfredoagt commented on #760
My Atom runner is running python version 3.7, i already migrate from version 2.7 to 3.7..
I thought that the latest sendgrid module wasn’t compatible with python 3.7..
But, now i finally got it to work!, the solution was to create the code in atom (for easy reading) and execute it in terminal but via Python 2.7 because with python 3.7 (in terminal) still pull the ModuleNotFoundError: No module nam

[2019-03-01 01:37] crawfordleeds commented on #760
Don't quote me, but I think it does work with 3.7. I'm using 3.6.4 and haven't tried 3.7 myself yet though. Sounds like you've installed sendgrid as a python 2 module only. You might try `pip3 install sendgrid`.